.terminate-button {
  float: right;
  color: #d7410b;
}

.terminate-modal-title {
  font-weight: bold;
}

.terminate-modal-group {
  margin-bottom: 20px;
}

.terminate-radio-button {
  display: block;
  margin-left: 20px;
  margin-right: auto;
  font-weight: normal;
}

.terminate-warning {
  font-size: 12px;
  font-style: italic;
}

#companyContactValue.btn {
  .truncate;
}

.date-picker-input-box {
  text-align: left;
}

.item-name {
  .truncate;
  width: 83.33333333%;
  display: inline-block;
}

@media (min-width: 992px) {
  .item-name {
    width: 66.66666666%
  }
}
