.validation-success {
  &:before {
    content: @fa-var-check;
  }
  color: green;
}

.validation-pending {
  .fa-spin;
  &:before {
    content: @fa-var-spinner;
  }
}

.validation-failure {
  &:before {
    content: @fa-var-times;
  }
  color: red;
}

.validation-icon {
  float: right;
}

.modal-body .form-group:last-child {
  margin-bottom: 0;
}

.status {
  float: right;
}

.terminated {
  color: @brand-danger;
}

.expired {
  color: @brand-warning;
}

.active {
  color: @brand-success;
}
