.stack-cleanup-logs,
.delete-entities-results {
  .panel-title > a {
    text-decoration: none;
  }
  .panel-body {
    height: 400px;
    overflow-y: scroll;
  }
  .badge {
    margin-left: 10px;
  }
  .fa {
    margin-left: 10px;
  }
}

.entity-cleanup-tabs {
  margin-top: 15px;
  .fa {
    margin-left: 10px;
  }
  .uib-tab .badge {
    margin-left: 10px;
  }
  .tab-body {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
    max-height: 143px;
    overflow-y: scroll;
  }
}

.entity-cleanup-modal {
  .modal-footer {
    margin-top: 0;
  }
}

.entity-logs {
  .list-group {
    margin-bottom: 0;
  }
  .list-group-item {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .label {
    white-space: normal;
  }
}
