.product-users-well {
  position: relative;
  .add-users-btn {
    position: absolute;
    right: 10px;
    top: -40px;
  }
  table {
    margin-bottom: 0;
  }
}

.btn-hover-danger {
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: @btn-danger-color;
    background-color: darken(@btn-danger-bg, 8%);
    border-color: darken(@btn-danger-border, 12%);
  }
}

.modal-header .alert {
  margin-bottom: 0;
}

.modal-body-fixed-height {
  max-height: 600px;
  overflow-y: auto;
}

table.table-striped tr.user-select-row {
  height: 39px;
  &:hover td {
    background-color: lighten(@brand-primary, 53%);
  }
}

.modal-footer .pagination {
  margin: 0;
}

@media (max-width: @screen-xs-max) {
  .product-description {
    margin-bottom: 46px;
  }
}
