.product-container {
  .app-container;
  &.product {
    min-height: 148px;
    max-height: 210px;
    height: auto;
    .content {
      margin-bottom: 5px;
      +.content {
        border-top: 1px solid @gray-lightish;
      }
    }
    .app-info {
      height: auto;
    }
    .products {
      .table {
        margin-bottom: 0;
      }
      &.scroll {
        padding-right: 0;
      }
      &.content {
        padding: 0;
        margin: 0;
        height: auto;
        max-height: 103px;
        tr {
          border-top: none;
          border-bottom: 1px solid @gray-lightish;
          &:last-child {
            border-bottom: none;
          }
        }
        td {
          border: none;
        }
      }
    }
  }
}

.shopping-cart-modal {
  p.title {
    font-weight: bold;
    font-size: 14px;
  }
  .modal-title {
    .modal-title;
    font-size: 16px;
  }
  .icon-box {
    .product-container.icon-box;
  }
}
