.account-list {
  font-size: 12px;
  .panel-group {
    margin: 30px 0;
  }
  .panel {
    border: none;
    box-shadow: none;
    border-top: 2px solid @gray-lighter;
    clear: both;
    &:last-child {
      border-bottom: 2px solid @gray-lighter;
    }
  }
  .panel-title {
    > a {
      text-decoration: none;
      padding: 0 10px 10px;
    }
    .account-name-column {
      margin: 12px 0 0;
      float: left
    }
    .account-license-column {
      padding: 0px;
      margin: 12px 0 0;
      float: right;
      text-align: right;
    }
    .detail-btn {
      text-align: right;
      float: right;
    }
  }
  .panel-default > .panel-heading + .panel-collapse .panel-body {
    border: none;
    box-shadow: none;
    padding: 10px 0 5px 39px;
  }
  .panel-heading {
    background-color: white;
    border-color: white;
  }
  .accordion-toggle-box {
    margin-right: 6px;
    padding: 0px;
    width: 19px;
    height: 19px;
    border: solid #ccc 2px;
    font-size: 23px;
    display: inline-block;
    vertical-align: text-bottom;
  }
  .accordion-plus:before {
    position: absolute;
    margin: -6px 1px;
    content: "\002B";
  }
  .accordion-minus:before {
    position: absolute;
    margin: -8px 2.5px;
    content: "\002D";
  }
}

.account-summary {
  border-bottom: 2px solid @gray-light;
  li {
    margin: 0px 0px 20px 0px;
    padding: 0px 25px;
  }
  h1 {
    margin: 0px;
    font-size: 40px;
  }
}

.sort-list-row {
  margin: 0 0 15px;
}

.licenseEndIn90DaysTitle {
  color: #f0ad4e;
}

.licenseEndIn60DaysTitle {
  color: #d7410b;
}

.sort-inactive {
  display: none;
}

.activePercentatge {
  font-size: 24px;
}
