.widget {
  width: 100%;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  .widget-loading {
    height: 300px;
    line-height: 300px;
  }
  .legendLabel {
    padding-left: 8px;
  }
  .graph-widget() {
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
    padding: 0 15px;
    text-align: left;
  }
  .user-graph {
    .graph-widget();
  }
  .device-graph {
    .graph-widget();
  }
  .fa {
    line-height: 20px;
  }
  .icon-btns {
    color: @gray-lighter;
    background: @gray-dark;
    border: none;
    box-shadow: none;
  }
  .panel {
    border: 1px solid @gray-lightish;
  }
  .panel-heading {
    min-height: 46px;
    border-bottom: none;
    //cursor: move;
    background-color: #fff;
    font-weight: bold;
    position: relative;
    .panel-heading-title {
      margin-top: 10px;
      font-weight: bold;
    }
    hr {
      border-color: @gray-light;
      margin-bottom: 0;
      margin-top: 16px;
    }
  }
  .panel-body {
    padding: 0 0 20px;
    .widget-image {
      padding: 40px;
    }
    .btn {
      white-space: normal;
    }
    hr {
      clear: both;
      margin: 15px;
      border-top: 0px;
      border-bottom: 1px solid @gray-lightish;
    }
    p {
      font-weight: normal;
    }
    &.panel-inner {
      padding: 0 15px;
      .row {
        padding: 0 0 15px;
      }
    }
  }
  .user-container {
    padding: 0 15px;
    .account-status {
      color: @brand-success;
    }
  }
  .widget-btn {
    .pull-right();
    margin-right: 15px;
    padding: 5px 20px;
  }
}

.disabled-widget {
  opacity: 0.2;
}

// We may want to put this in the buttons.less in the SDK
.caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 15px;
  vertical-align: middle;
  border-left: @caret-width-base solid;
  border-top: @caret-width-base solid transparent;
  border-bottom: @caret-width-base solid transparent;
}

// For large buttons
.btn-lg .caret-right {
  border-width: @caret-width-large 0 @caret-width-large @caret-width-large;
  border-right-width: 0;
}

// For disabled buttons
.btn-disabled,
.btn-disabled:hover {
  cursor: default;
  color: #fff;
  background-color: #0096d6;
  border-color: #0096d6;
}

.widget-ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 65px;
  height: 65px;
  text-align: right;
  span {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: @brand-primary;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 9px;
    right: -31px;
    &::before {
      content: '';
      position: absolute;
      left: 14%;
      top: 100%;
      z-index: -1;
      border-left: 2px solid @brand-primary;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      border-top: 2px solid @brand-primary;
    }
    &::after {
      content: '';
      position: absolute;
      right: 14%;
      top: 100%;
      z-index: -1;
      border-right: 2px solid @brand-primary;
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;
      border-top: 2px solid @brand-primary;
    }
  }
}
