<div class="modal-header">
  <h3 class="modal-title">Deleting test-generated {{ entityName }}</h3>
</div>
<div class="modal-body">

  <uib-progress class="progress-striped active">
    <uib-bar style="min-width: 40px;" value="(completed / total) * 100">
      <span>{{ completed }} / {{ total }}</span>
    </uib-bar>
  </uib-progress>

  <uib-accordion class="accordion delete-entities-results">

    <uib-accordion-group is-disabled="true" panel-class="panel-info">
      <uib-accordion-heading>
        <span class="label label-default">{{ total }}</span> &nbsp; Total
      </uib-accordion-heading>
    </uib-accordion-group>

    <uib-accordion-group is-open="entitiesIsOpen" is-disabled="entities.length === 0" panel-class="panel-warning">
      <uib-accordion-heading>
        <span class="label label-warning">{{ entities.length }}</span> &nbsp; Remaining
      </uib-accordion-heading>
      <div ng-if="entitiesIsOpen">
        <entity-logs log-entries="entities" show="entitiesIsOpen"></entity-logs>
      </div>
    </uib-accordion-group>

    <uib-accordion-group is-open="deletedIsOpen" is-disabled="deleted.length === 0" panel-class="panel-success">
      <uib-accordion-heading>
        <span class="label label-success">{{ deleted.length }}</span> &nbsp; Deleted
      </uib-accordion-heading>
      <div ng-if="deletedIsOpen">
        <entity-logs log-entries="deleted" show="deletedIsOpen"></entity-logs>
      </div>
    </uib-accordion-group>

    <uib-accordion-group is-open="retriablesIsOpen" ng-if="retriables.length" panel-class="panel-danger">
      <uib-accordion-heading>
        <span class="label label-danger">{{ retriables.length }}</span> &nbsp; To Be Retried
      </uib-accordion-heading>
      <div ng-if="retriablesIsOpen">
        <entity-logs log-entries="retriables" show="retriablesIsOpen"></entity-logs>
      </div>
    </uib-accordion-group>

    <uib-accordion-group is-open="errorsIsOpen" ng-if="errors.length" panel-class="panel-danger">
      <uib-accordion-heading>
        <span class="label label-danger">{{ errors.length }}</span> &nbsp; Errors After Retry
      </uib-accordion-heading>
      <div ng-if="errorsIsOpen">
        <entity-logs log-entries="errors" show="errorsIsOpen"></entity-logs>
      </div>
    </uib-accordion-group>

  </uib-accordion>

</div>

<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="cancel()" ng-disabled="shouldCancel">{{ shouldCancel ? 'Cancelling...' : 'Cancel' }}</button>
</div>
