<div class="modal-header">
  <h3 class="modal-title">Finding all test-generated {{ entityName }}</h3>
</div>
<div class="modal-body">

  <uib-progress class="progress-striped active">
    <uib-bar style="min-width: 30px;" value="(count / (count ? pager.getTotal() : 1)) * 100">
      <span>{{ count || 0 }} / {{ count ? pager.getTotal() : '...' }}</span>
    </uib-bar>
  </uib-progress>

</div>

<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="cancel()" ng-disabled="shouldCancel">{{ shouldCancel ? 'Cancelling...' : 'Cancel' }}</button>
</div>
