<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<div class="form-group">
  <button id="cleanup-all" type="button" class="btn btn-primary btn-large" ng-click="cleanupAll()" ng-disabled="bindings.cleanupInProgress">Cleanup All</button>
</div>

<div class="form-group stack-cleanup-logs">
  <uib-accordion class="accordion">

    <uib-accordion-group is-open="bindings.allLogsOpen">
      <uib-accordion-heading>
        Pretty Print Logs <i><small>(slow)</small></i> <span class="badge" ng-if="aggregateLogs.length">{{ aggregateLogs.length }}</span>
        <i class="fa fa-copy" ng-show="bindings.allLogsOpen && aggregateLogs.length" ng-click="copyLogs($event, 'aggregate-logs')"></i>
      </uib-accordion-heading>
      <div id="aggregate-logs" ng-if="bindings.allLogsOpen">
        <entity-logs log-entries="aggregateLogs" show="bindings.allLogsOpen"></entity-logs>
      </div>
    </uib-accordion-group>

    <uib-accordion-group is-open="bindings.textOnlyLogsOpen">
      <uib-accordion-heading>
        Text-only Logs <i><small>(fast)</small></i> <span class="badge" ng-if="aggregateLogs.length">{{ aggregateLogs.length }}</span>
        <i class="fa fa-copy" ng-show="bindings.textOnlyLogsOpen && aggregateLogs.length" ng-click="copyLogs($event, 'text-only-logs')"></i>
      </uib-accordion-heading>
      <div id="text-only-logs" ng-if="bindings.textOnlyLogsOpen"></div>
    </uib-accordion-group>

  </uib-accordion>
</div>

<div ng-repeat="entityType in entityTypes">
  <entity-cleanup entity-name="entityType.name" service-pager="entityType.pager" trigger="{{entityType.name}}" parent-logger="logger"></entity-cleanup>
</div>



<script type="text/ng-template" id="entity-logs.html">
  <div class="entity-logs">
    <a href="" ng-click="show = true" ng-hide="show">Show these log entries (too many logs showing will cause a performance impact)</a>
    <ul class="list-group" ng-if="show">
      <li class="list-group-item" ng-repeat="entityInfo in logEntries">
        <span class="label label-primary">{{ ::entityInfo.entityName }}</span>
        <span class="label label-default">{{ ::entityInfo.entityId }}</span>
        <span class="label label-danger">{{ entityInfo.httpStatus }}</span>
        <span>{{ entityInfo.msg }}</span>
        <div style="margin-left: 30px" ng-if="entityInfo.details">
          <span> &gt; {{ ::entityInfo.details }}</span>
        </div>
      </li>
    </ul>
  </div>
</script>
