<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<form hp-disable-on="hpDisableAddAccountForm" hp-empty-inputs-as-null id="accountAddForm" name="accountAddForm" role="form">
  <h4 translate="cCompanyInformation"></h4>
  <div ng-include="'app/home/accounts/account-form.html'"></div>
  <h4 translate="cCompanyContact"></h4>
  <div hp-user-form is-adding="true" show-email="true" show-locales="true" show-status="true" user="user"></div>

  <div>
    <button id="saveButton" class="btn btn-primary" type="submit" ng-click="addAccountSubmit()" translate="cSave"></button>
    <button id="saveNewButton" class="btn btn-default" type="submit" ng-click="addAccountAndNewSubmit()" translate="cSaveAndNew"></button>
    <button id="cancelButton" class="btn btn-default" type="button" ng-click="cancelAddAccount()" translate="cCancel"></button>
  </div>

</form>
