<div class="add-item-form">
  <div class="list-group">
    <a ng-repeat="item in items" class="list-group-item" ng-click="editItem({$item:item})" tabindex="-1">
      <ng-include src="displayItemTemplate"></ng-include>
    </a>
    <a id="addItemButton" class="list-group-item" ng-click="addItem()" href="" ng-show="showAddButtonWhen">
      <i class="fa fa-plus-circle"></i> <b translate="{{addItemLabel}}"></b>
    </a>
  </div>
</div>
