<ui-select ng-change="userChanged(uiSelectModel)" ng-model="uiSelectModel">
  <ui-select-match id="companyContactValue">{{$select.selected.email}}</ui-select-match>
  <ui-select-choices repeat="admin in admins | filter: $select.search">
    <div class="dropdownNameText truncate"><strong>{{admin.firstName}} {{admin.lastName}}</strong></div>
    <div class="dropdownEmailText truncate"><small>{{admin.email}}</small></div>
  </ui-select-choices>
</ui-select>
