<h1>{{heading}}</h1>

<form hp-disable-on="{{disableOnEvent}}" id="hpMessageForm" name="hpMessageForm" role="form">

  <hr/>

  <div ng-include="messageBodyTemplateUrl"></div>

  <hr/>

  <button ng-if="submitBtnLabel" id="messageFormSubmitBtn" class="btn btn-primary pull-right" type="submit" ng-click="submitBtnClick()">{{submitBtnLabel}}</button>

</form>
