<h3 class="page-title" translate="cAppManagement"></h3>

<div class="row">
  <div class="form-group col-md-4">
    <licensed-app-selector selected-model="selectedOffering" on-select="fetchProductsByOffering"></licensed-app-selector>
  </div>
</div>

<div ng-repeat="productItem in productAndUsers" ng-if="productItem.license">
  <div class="row">
    <div class="col-sm-9 product-description">
      <h3 hp-translate="productItem.product.name" source="selectedOffering.fqName"></h3>
      <p hp-translate="productItem.product.description" source="selectedOffering.fqName"></p>
    </div>
  </div>
  <div class="well well-sm product-users-well">
    <button type="button" class="btn btn-primary btn-sm add-users-btn" ng-click="manageUsers(productItem)"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;<span translate="cManageUsers"></span></button>
    <table id="entitledUsersPerProductTable-{{::productItem.productId}}" class="table table-striped window-limited-table-width">
      <thead class="header">
        <tr>
          <th translate="cFirstName"></th>
          <th translate="cLastName"></th>
          <th translate="cEmail"></th>
          <th class="fixed-width-sm" translate="cStatus"></th>
          <th class="fixed-width-md" translate="cAction"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="userItem in productItem.userAndEntitlements">
          <td id="firstNameValue-{{::productItem.productId + '-' + $index}}">{{userItem.user.firstName}}</td>
          <td id="lastNameValue-{{::productItem.productId + '-' + $index}}">{{userItem.user.lastName}}</td>
          <td id="emailValue-{{::productItem.productId + '-' + $index}}">{{userItem.user.email}}</td>
          <td id="statusValue-{{::productItem.productId + '-' + $index}}" class="fixed-width-sm" translate="c{{userItem.user.status}}"></td>
          <td class="fixed-width-md">
            <button id="removeAccess-{{::productItem.productId + '-' + $index}}" class="btn btn-xs btn-default btn-hover-danger" type="button" ng-click="removeAccess(productItem, userItem)" translate="cRemoveAccess"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr ng-if="!$last">
</div>
