<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="isImportingUsers"></div>

<form name="csvUploadForm">
  <div class="form-group">
    <input id="fileInput" class="btn btn-default" type="file" nv-file-select uploader="uploader" name="csvFile" accept=".csv" ng-model="formData.csvFile">
  </div>
  <div class="form-group">
    <button id="uploadUsers" class="btn btn-primary" type="submit" ng-click="uploadFile()" translate="cCSVUploadFile"></button>
    <button id="cancelButton" type="button" class="btn btn-default" ng-click="cancelCsvImport()" translate="cCancel"></button>
  </div>
</form>

<uib-accordion class="accordion">

  <uib-accordion-group>
    <uib-accordion-heading>
      <span translate="cInstructions"></span>
    </uib-accordion-heading>
    <ul>
      <li><span translate="cCSVInstructions1"></span></li>
      <li><span translate="cCSVInstructions2"></span></li>
      <li><span translate="cCSVInstructions3"></span></li>
      <li><span translate="cCSVInstructions4"></span></li>
      <li><span translate="cCSVInstructions5"></span></li>
      <li><span translate="cCSVInstructions6"></span></li>
    </ul>
  </uib-accordion-group>

  <uib-accordion-group>
    <uib-accordion-heading>
      <span translate="cFields"></span>
    </uib-accordion-heading>
    <ul>
      <li><span translate="cFirstName"></span>:&nbsp;<span translate="cCSVFirstNameDescription"></span></li>
      <li><span translate="cLastName"></span>:&nbsp;<span translate="cCSVLastNameDescription"></span></li>
      <li><span translate="cEmail"></span>:&nbsp;<span translate="cCSVEmailDescription"></span></li>
      <li><span translate="cRole"></span>:&nbsp;<span translate="cCSVRoleDescription"></span></li>
      <li><span translate="cPhoneNumber"></span>:&nbsp;<span translate="cCSVPhoneNumberDescription"></span></li>
      <li><span translate="cPhoneExtension"></span>:&nbsp;<span translate="cCSVPhoneExtensionDescription"></span></li>
      <li><span translate="cLocale"></span>:&nbsp;<span translate="cCSVLocaleDescription"></span></li>
    </ul>
  </uib-accordion-group>

  <uib-accordion-group>
    <uib-accordion-heading>
      <span translate="cSamples"></span>
    </uib-accordion-heading>
    <ul>
      <li><a id="csvTemplate" target="_blank" href="https://s3.amazonaws.com/public-static.hpbizapps.com.2014/csv/hp-jet-advantage-on-demand-template.csv"><span translate="cTemplate"></span></a></li>
      <li><a id="csvSampleOne" target="_blank" href="https://s3.amazonaws.com/public-static.hpbizapps.com.2014/csv/hp-jet-advantage-on-demand-sample-one.csv"><span translate="cSampleOne"></span></a></li>
      <li><a id="csvSampleTwo" target="_blank" href="https://s3.amazonaws.com/public-static.hpbizapps.com.2014/csv/hp-jet-advantage-on-demand-sample-two.csv"><span translate="cSampleTwo"></span></a></li>
    </ul>
  </uib-accordion-group>

</uib-accordion>

<script type="text/ng-template" id="csv-import-error.html">
  <div>
    <span translate="cAddUsersFailure"></span>
  </div>
  <div ng-repeat="errorUser in errorUsers">
    <span><span translate="cName"></span>{{': ' + errorUser.firstName + " " +errorUser.lastName + " "}}<span translate="cEmail"></span>{{": " + errorUser.email}}</span>
  </div>
</script>
