<h3 class="page-title" translate="cManageUsers"></h3>

<div class="clearfix row-with-bottom-spacing">
  <div id="add-user-dropdown-btn" class="btn-group" uib-dropdown keyboard-nav>
    <button id="addUsersButton" class="btn btn-primary" type="button" uib-dropdown-toggle><span translate="cAddUsers"></span> <i class="fa fa-caret-down"></i></button>
    <ul uib-dropdown-menu role="menu">
      <li role="menuitem">
        <a id="addSingleUserLink" hp-analytics-click="trackIndUser" ng-href="#{{ globals.routes.addUser }}" translate="cSingleUser"></a>
      </li>
      <li role="menuitem">
        <a id="addMultipleUsersLink" hp-analytics-click="trackMultiUser" ng-href="#{{ globals.routes.csvImport }}" translate="cImportFromCsv"></a>
      </li>
    </ul>
  </div>
  <form class="search-input-group input-group pull-right" ng-show="!globals.profiles.PRODUCTION.isActive || globals.permissions.isHPAdmin">
    <input class="form-control search-input" type="text" ng-model="searchString">
    <button id="searchButton" class="btn btn-primary search-button" type="submit" ng-click="search(searchString)" translate="cSearch"></button>
  </form>
</div>

<div class="pull-left">
  <uib-pagination ng-show="users.numPages > 1" ng-model="users.currentPage" ng-change="users.loadPage(users.currentPage)" boundary-links="true" total-items="users.getTotal()" items-per-page="users.getItemsPerPage()" num-pages="users.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
  </uib-pagination>
</div>
<hp-items-per-page pageable-resource="users"></hp-items-per-page>

<table id="usersTable" class="table table-striped window-limited-table-width" ng-class="{'opaque-table': users.isLoading()}">
  <thead class="header">
    <tr>
      <th translate="cFirstName"></th>
      <th translate="cLastName"></th>
      <th translate="cEmail"></th>
      <th class="fixed-width-sm" translate="cStatus"></th>
      <th class="fixed-width-md" translate="cAction"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users.list">
      <td id="firstNameValue{{$index}}">{{user.firstName}}</td>
      <td id="lastNameValue{{$index}}">{{user.lastName}}</td>
      <td id="emailValue{{$index}}">{{user.email}}</td>
      <td id="statusValue{{$index}}" class="fixed-width-sm" translate="c{{user.status}}"></td>
      <td class="fixed-width-md">
        <!-- TODO - show a special button for myProfile -->
        <a id="viewDetails{{$index}}" class="btn btn-sm btn-primary" ng-href="#users/{{globals.linkParser.getSelfId(user)}}" translate="cViewDetails"></a>
      </td>
      <!-- TODO - special button for myProfile -->
    </tr>
  </tbody>
</table>

<div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="users.isLoading()"></div>

<div class="pull-left">
  <uib-pagination ng-show="users.numPages > 1" ng-model="users.currentPage" ng-change="users.loadPage(users.currentPage)" boundary-links="true" total-items="users.getTotal()" items-per-page="users.getItemsPerPage()" num-pages="users.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
  </uib-pagination>
</div>
