<div class="row">

  <div class="unauth-form-container">

    <div hp-message-form disable-on-event="hpDisableUnsubscribeForm" heading="{{heading | translate}}" message-body-template-url="unsubscribe-message-body.html" message-body-params="messageBodyParams" submit-btn-click="submit()" submit-btn-label="{{submitBtnLabel | translate}}"></div>

    <script type="text/ng-template" id="unsubscribe-message-body.html">
      <span translate="{{messageBodyParams.content}}" translate-values="{{messageBodyParams.unsubscribeData}}"></span>

      <h5><small ng-if="messageBodyParams.showDisclaimer" translate="cUnscubscribeDisclaimer"></small></h5>
    </script>

  </div>

</div>
