<h3 class="page-title" translate="cServiceAccounts"></h3>

<div class="row">
  <div class="col-md-6 form-group">
    <label for="offeringFqName" class="control-label" translate="cOfferingFqNames"></label>
    <select id="offeringFqName" class="form-control" ng-model="selectedFqName" ng-options="fqName for fqName in fqNames" ng-change="selectFqName(selectedFqName)">
      <option translate="cSelectOfferingFqName" ng-show="!selectedFqName"></option>
    </select>
  </div>
</div>

<uib-accordion class="accordion" ng-show="selectedFqName && serviceUser">

  <h3 translate="cServiceAccountUser"></h3>

  <div class="row">
    <div class="col-md-6 form-group">
      <label for="serviceUserEmail" class="control-label" translate="cEmail"></label>
      <input id="serviceUserEmail" class="form-control" type="text" ng-model="serviceUser.email" readonly></input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-class="{'col-md-6': !accordionStatus.showServiceAccountForm}">
      <uib-accordion-group is-open="accordionStatus.showServiceAccountForm">
        <uib-accordion-heading>
          <span translate="cChangeYourServiceAccountPassword"></span>
        </uib-accordion-heading>

        <form hp-disable-on="hpChangeServiceAccountPassword" hp-empty-inputs-as-null name="serviceAccountPasswordForm" role="form">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group well well-lg">
                <label for="loginPasswordValue-service-account" class="control-label" translate="cVerifyLoginPassword"></label>
                <input id="loginPasswordValue-service-account" name="loginPassword-service-account" class="form-control" type="password" autocomplete="off" ng-model="serviceUser.loginPassword" ng-trim="false" required>
              </div>
            </div>
            <div class="col-lg-8">
              <div hp-password-validation form-data="serviceUser" horizontal-layout="true" password-policy="passwordPolicy"></div>
            </div>
          </div>
          <button id="changeServiceAccountPasswordButton" class="btn btn-primary" type="submit" translate="cChangePassword" ng-click="changeServiceAccountPasswordSubmit()"></button>
        </form>
      </uib-accordion-group>

    </div>
  </div>
  <hr>

  <h3 translate="cRabbitMQUser"></h3>

  <div class="row">
    <div class="col-md-6 form-group">
      <label for="rabbitMQUsername" class="control-label" translate="cUsername"></label>
      <input id="rabbitMQUsername" class="form-control" type="text" ng-model="rabbitMQUser.userName" readonly></input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-class="{'col-md-6': !accordionStatus.showRabbitMQForm}">
      <uib-accordion-group is-open="accordionStatus.showRabbitMQForm">
        <uib-accordion-heading>
          <span translate="cChangeYourRabbitMQAccountPassword"></span>
        </uib-accordion-heading>

        <form hp-disable-on="hpChangeRabbitMQPassword" hp-empty-inputs-as-null name="rabbitMQPasswordForm" role="form">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group well well-lg">
                <label for="loginPasswordValue-rabbitMQ" class="control-label" translate="cVerifyLoginPassword"></label>
                <input id="loginPasswordValue-rabbitMQ" name="loginPassword-rabbitMQ" class="form-control" type="password" autocomplete="off" ng-model="rabbitMQUser.loginPassword" ng-trim="false" required>
              </div>
            </div>
            <div class="col-lg-8">
              <div hp-password-validation form-data="rabbitMQUser" horizontal-layout="true" password-policy="passwordPolicy"></div>
            </div>
          </div>
          <button id="changeRabbitMQPasswordButton" class="btn btn-primary" type="submit" translate="cChangePassword" ng-click="changeRabbitMQPasswordSubmit()"></button>
        </form>
      </uib-accordion-group>
    </div>
  </div>
</uib-accordion>

<h4 translate="cServiceAccountNotExist" ng-show="showErrorMessage"></h4>
