<div uib-dropdown class="btn-group">
  <button id="items-per-page-text-btn" type="button" class="btn btn-default btn-sm"><span translate="cItemsPerPage"></span>: {{pageableResource.getItemsPerPage()}}</button>
  <button id="items-per-page-dropdown-btn" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle><span class="caret"></span></button>
  <ul uib-dropdown-menu>
    <li><a ng-click="pageableResource.setItemsPerPage(10)">10</a></li>
    <li><a ng-click="pageableResource.setItemsPerPage(25)">25</a></li>
    <li><a ng-click="pageableResource.setItemsPerPage(50)">50</a></li>
    <li><a ng-click="pageableResource.setItemsPerPage(100)">100</a></li>
  </ul>
</div>
