<div uib-dropdown class="btn-group">
  <button id="{{fieldId}}" class="btn btn-default btn-sm" type="button"><span translate="{{fieldTitle}}"></span>: <span ng-class="{ 'sort-inactive': !activeSort() }">{{currentSelection | translate}}</span></button>
  <button id="{{btnId}}" class="btn btn-default btn-sm" type="button" uib-dropdown-toggle><span class="caret"></span></button>

  <ul uib-dropdown-menu>
    <li>
      <a ng-click="reloadAndSort(true)" translate="cAToZ"></a>
    </li>
    <li>
      <a ng-click="reloadAndSort(false)" translate="cZToA"></a>
    </li>
  </ul>
</div>
