<div class="panel panel-default" id="addDevicesWidget">
  <div class="panel-heading">
    <h4 class="text-left panel-heading-title" translate="cDevices"></h4>
    <hr>
  </div>
  <div class="panel-body">
    <p class="dashboard-widget-content" translate="cEnableDevices"></p>
    <hr>
    <a id="devicesLink" class="btn btn-primary widget-btn" href="#{{ globals.routes.devices }}">
      <span translate="cAdd"></span><span class="caret-right"></span>
    </a>
  </div>
</div>
