<div ng-controller="GraphCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-left panel-heading-title" translate="cUsers"></h4>
      <hr>
    </div>
    <div class="panel-body">
      <div class="widget-loading" ng-if="displayLoading" translate="cLoadingEllipsis"></div>
      <div id="hpTitanUsersWidget" ng-if="!displayLoading">
        <div ng-if="totalUserCount==1" class="user-container clearfix">
          <div translate="cYou" class="pull-left"></div>
          <div translate="c{{userStatus}}" class="pull-right account-status"></div>
        </div>
        <div ng-if="totalUserCount>1" class="user-graph">
          <flot dataset="graphData" options="graphOptions"></flot>
        </div>
        <hr>
        <a id="manageUsersLink" class="btn btn-primary widget-btn" href="{{ manageUsersUrl }}">
          <span translate="cManageUsers"></span><span class="caret-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
