<div class="panel panel-default" ng-controller="PullPrintWidgetCtrl">
  <div class="panel-heading">
    <h4 class="text-left panel-heading-title" translate="cPullPrintQueue"></h4>
    <hr/>
  </div>
  <div class="panel-body">
    <p ng-if="isProvisioning" translate="cPrivatePrintPending"></p>
    <div ng-class="{'disabled-widget': isDisabled}">
      <img class="img-responsive center-block widget-image" ng-src="{{ offering.urls.iconLargeUrl }}">
      <a ng-if="isDisabled === false" id="pullPrintLink" class="btn btn-primary" ng-href="{{ offering.urls.browserLandingUrl }}">
        <span translate="cViewQueue"></span><span class="caret-right"></span>
      </a>
      <span ng-if="isDisabled" id="pullPrintLink" class="btn btn-disabled">
        <span translate="cViewQueue"></span><span class="caret-right"></span>
      </span>
    </div>
  </div>
</div>
