<div ng-controller="AccountSearchWidgetCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-left panel-heading-title" translate="cAccountAddProduct"></h4>
      <hr/>
    </div>
    <form name="accountSearchForm" role="form">
      <div class="panel-body panel-inner text-left">
        <p class="well well-sm" translate="cAccountSearchInstructions"></p>
        <div class="form-group form-horizontal">
          <div class="input-group">
            <input id="searchByEmail" type="email" name="searchEmail" class="form-control" ng-model="search.email" required/>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default pull-right" ng-click="searchAccounts(search.email)" translate="cSearch"></button>
            </span>
          </div>
        </div>
        <div class="row" ng-show="user">
          <div class="col-sm-12">
            <p class="text-ellipsis-h">{{ user.firstName }} {{ user.lastName }} ({{ user.email }})</p>
            <p translate="cAccountUserNotAdmin" ng-hide="user.isAdmin && !user.isReseller"></p>
            <p translate="cAccountUserNotActive" ng-hide="user.isActive"></p>
          </div>
          <div class="col-sm-12">
            <button type="button" class="btn btn-primary" id="go-to-account" ng-show="user.isAdmin && user.isActive && !user.isReseller" ng-click="goToAccount()" translate="cAccountAddProductButton"></button>
          </div>
        </div>
        <div class="row" ng-show="accountSearchForm.$submitted && user === null">
          <div class="col-sm-12">
            <p class="text-ellipsis-h" translate="cAccountNotFound" translate-values="search"></p>
            <a class="btn btn-primary" id="create-account" ng-click="createAccount(search.email)" href translate="cAddAccount"></a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
