<div class="row">

  <div class="unauth-form-container">

    <h1 translate="cResetYourPassword"></h1>

    <div ng-show="!hasSuccess">
      <form hp-disable-on="hpDisableResetForm" id="resetPasswordForm" name="resetPasswordForm" class="clearfix" role="form">

        <div hp-password-validation form-data="formData" focus-on-load="true" password-policy="passwordPolicy"></div>

        <hr/>

        <button id="resetPasswordButton" class="btn btn-primary pull-right" type="submit" ng-click="submit()" translate="cResetPassword"></button>

      </form>
    </div>

    <div class="alert alert-success" ng-if="hasSuccess">
      <p translate="cResetPasswordSuccess"></p>
      <p>
        <a id="loginLink" href="#/default" translate="cLogIn"></a>
      </p>
    </div>

  </div>

</div>
