<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<h3 class="page-title" ng-if="isMyCompany" translate="cMyCompany"></h3>

<form hp-disable-on="hpDisableAccountGroupsDetailsForm" hp-empty-inputs-as-null name="accountGroupsDetailsProfileForm" role="form">
  <div class="row">
    <h3>{{accountGroup.name}}</h3>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="form-group col-md-8">
        <label for="accountIdValue" class="control-label" translate="cAccountId"></label>
        <input id="accountIdValue" class="form-control" type="text" ng-model="newAccountId.id" maxlength="40" required>
      </div>
    </div>

    <div class="form-group">
      <button id="addNewAccountButton" class="btn btn-primary" type="submit" translate="cAdd" ng-click="addNewAccountIdSubmit()"></button>
    </div>
  </div>

  <div class="col-md-6">
    <table class="table table-striped" ng-class="">
      <thead class="header">
        <tr>
          <th translate="cAccountIdList"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="accountId in accountGroup.accountIds">
          <td id="nameValue{{$index}}">{{accountId}}</td>
          <td>
            <a id="viewDetails{{$index}}" class="btn btn-sm btn-primary" translate="cDelete" ng-click="deleteAccountIdSubmit(accountId)"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
