<div class="row">
  <div class="col-sm-6">
    <h3 class="page-title" translate="cAdminDashboard"></h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <ul class="list-unstyled" ng-repeat="adminDashboardLinkItem in adminDashboardLinksList">
      <li>
        <h3 translate={{adminDashboardLinkItem.listName}}></h3>
      </li>

      <ul class="list-unstyled">
        <li ng-repeat="link in adminDashboardLinkItem.links">
          <a ng-href="{{link.href}}" id="{{link.id}}" translate="{{link.linkName}}"></a>
        </li>
      </ul>
    </ul>
  </div>
</div>
