<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<h4 translate="cAmqpGlobalConfigurations"></h4>
<form>
  <div class="form-group">
    <button id="selectAllButton" type="button" class="btn btn-default" ng-click="setAllSelected(true)" translate="cSelectAll"></button>
    <button id="deselectAllButton" type="button" class="btn btn-default" ng-click="setAllSelected(false)" translate="cDeselectAll"></button>
    <div confirm-delete-btn disable-when="!someHaveEnabledSetTo(false)" unique-id="enableSelected" on-confirm="setSelectedConsumersEnabled(true)" delete-button-class="btn btn-danger"><span translate="cEnabledSelected"></span></div>
    <div confirm-delete-btn disable-when="!someHaveEnabledSetTo(true)" unique-id="disableSelected" on-confirm="setSelectedConsumersEnabled(false)" delete-button-class="btn btn-danger"><span translate="cDisableSelected"></span></div>
  </div>
</form>

<div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="globalConfigs.isLoading()"></div>
<table class="table table-striped" ng-class="{'opaque-table': globalConfigs.isLoading()}">
  <thead class="header">
    <tr>
      <th></th>
      <th translate="cGitHash"></th>
      <th translate="cRabbitMQConsumersEnabled"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="globalConfig in globalConfigs.list">
      <td id="configIsSelected{{$index}}">
        <input type="checkbox" ng-model="globalConfig.selected">
      </td>
      <td id="gitHash{{$index}}">
        {{globalConfig.gitHash}}
        <div ng-if="globalConfig.gitHash === currentGitHash">
          <b translate="cCurrentGitHash"></b>
        </div>
      </td>
      <td id="consumersEnabled{{$index}}">{{globalConfig.consumersEnabled}}</td>
    </tr>
  </tbody>
</table>

<uib-pagination ng-show="globalConfigs.numPages > 0" ng-model="globalConfigs.currentPage" ng-change="globalConfigs.loadPage(globalConfigs.currentPage)" boundary-links="true" total-items="globalConfigs.getTotal()" items-per-page="globalConfigs.getItemsPerPage()" num-pages="globalConfigs.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
</uib-pagination>
