<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<form>
  <div class="form-group">
    <button id="selectAll" type="button" class="btn btn-default" ng-click="setAllSelected(true)" translate="cSelectAll"></button>
    <button id="deselectAll" type="button" class="btn btn-default" ng-click="setAllSelected(false)" translate="cDeselectAll"></button>
    <div confirm-delete-btn unique-id="deleteSelected" on-confirm="deleteSelected()" disable-when="!someAreSelected()" delete-button-class="btn btn-danger"><span translate="cDeleteSelected"></span></div>
    <div confirm-delete-btn unique-id="requeueSelected" on-confirm="requeueSelected()" disable-when="!someAreSelected()" delete-button-class="btn btn-danger"><span translate="cRequeueSelected"></span></div>
  </div>
</form>

<div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="deadMessages.isLoading()"></div>
<table class="table table-striped" ng-class="{'opaque-table': deadMessages.isLoading()}">
  <thead class="header">
    <tr>
      <th></th>
      <th translate="cCausality"></th>
      <th translate="cId"></th>
      <th translate="cPayloadClass"></th>
      <th translate="cQueueName"></th>
      <th translate="cCreatedDate"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="deadMessage in deadMessages.list">
      <td id="deadMessageIsSelected{{$index}}">
        <input type="checkbox" ng-model="deadMessage.selected">
      </td>
      <td id="causality{{$index}}">
        <a target="_blank" href="https://hpcs-splunk-test.hp-webplatform.com/en-US/app/search/search?sid=1414009406.102001&q=search%20index%3D%22titandev01%22%20source%3D%22*catalina.out%22%20{{getCausality(deadMessage)}}&earliest=&latest=">
      {{getCausality(deadMessage)}}
      </a>
      </td>
      <td ng-click="setClicked(deadMessage)" id="id{{$index}}">{{globals.linkParser.getSelfId(deadMessage)}}</td>
      <td ng-click="setClicked(deadMessage)" id="canonicalName{{$index}}">{{deadMessage.canonicalName}}</td>
      <td ng-click="setClicked(deadMessage)" id="queueName{{$index}}">{{deadMessage.queue}}</td>
      <td ng-click="setClicked(deadMessage)" id="time{{$index}}">{{deadMessage.createdDate.split('.000+')[0]}}</td>
      <td ng-click="setClicked(deadMessage)" id="icon{{$index}}">
        <i ng-if="!deadMessage.clicked" class="fa fa-chevron-down"></i>
        <i ng-if="deadMessage.clicked" class="fa fa-chevron-up"></i>
      </td>
    </tr>
    <tr ng-if="deadMessage.clicked">
      <th translate="cPayload">:</th>
      <td colspan=6>{{deadMessage.payload}}</td>
    </tr>
    <tr ng-if="deadMessage.clicked">
      <th colspan=5 translate="cToeTag"></th>
      <th translate="cFailTime"></th>
      <td></td>
    </tr>
    <tr ng-repeat-end ng-if="deadMessage.clicked" ng-repeat="toeTag in deadMessage.toeTag">
      <td ng-click="setClicked(toeTag)" ng-if="!toeTag.clicked" style="white-space:pre" colspan=5>{{formatErrorPayload(toeTag.errorPayload, 10)}}</td>
      <td ng-click="setClicked(toeTag)" ng-if="toeTag.clicked" style="white-space:pre" colspan=5>{{formatErrorPayload(toeTag.errorPayload)}}</td>

      <td ng-click="setClicked(toeTag)">{{toeTag.failTime.split('.000+')[0]}}</td>
      <td ng-click="setClicked(toeTag)">
        <i ng-if="!toeTag.clicked" class="fa fa-chevron-down"></i>
        <i ng-if="toeTag.clicked" class="fa fa-chevron-up"></i>
      </td>
    </tr>
  </tbody>
</table>

<uib-pagination ng-show="deadMessages.numPages > 1" ng-model="deadMessages.currentPage" ng-change="deadMessages.loadPage(deadMessages.currentPage)" boundary-links="true" total-items="deadMessages.getTotal()" items-per-page="deadMessages.getItemsPerPage()" num-pages="deadMessages.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
</uib-pagination>
