<div class="row">

  <div class="unauth-form-container">

    <h1 translate="cForgotYourPassword"></h1>

    <div ng-show="!hasSuccess">
      <p>
        <span translate="cForgotPasswordDescription"></span>
        <!-- TODO: This needs to be dynamic -->
        <strong style="white-space: nowrap">no-reply@hpondemand.com</strong>
      </p>

      <form hp-disable-on="hpDisableForgotForm" id="forgotPasswordForm" name="forgotPasswordForm" class="clearfix" role="form">

        <div class="form-group">
          <label for="emailAddressValue" translate="cEmailAddress"></label>
          <input id="emailAddressValue" class="form-control" type="email" name="emailAddressValue" placeholder="{{ 'cSampleEmailAddress' | translate }}" ng-model="formData.email" required hp-focus-on-load>
        </div>

        <hr/>

        <button id="submitButton" class="btn btn-primary pull-right" type="submit" ng-click="forgotPasswordSubmit()" translate="cSubmit"></button>

      </form>
    </div>

    <div class="alert alert-success" ng-if="hasSuccess">
      <p><span translate="cEmailSentToResetPassword1"></span> <strong>{{ formData.email }}</strong></p>
      <p translate="cEmailSentToResetPassword2"></p>
      <p translate="cEmailSentToResetPassword3"></p>
    </div>

  </div>

</div>
