<div ng-if="!isMyCompany" ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>
<h3 class="page-title" ng-if="isMyCompany" translate="cMyCompany"></h3>

<form hp-disable-on="hpDisableAccountDetailsForm" hp-empty-inputs-as-null name="accountProfileForm" role="form">
  <h4 translate="cCompanyInformation"></h4>
  <div ng-include="'app/home/accounts/account-form.html'"></div>


  <h4 translate="cCompanyContact"></h4>
  <div class="row form-group">
    <div class="col-md-6">
      <div hp-company-contact-field id="companyContactValue" on-change="companyContactChange" ng-model="user" company="account"></div>
    </div>
  </div>
  <fieldset disabled="disabled" role="form">
    <div hp-user-form user="user"></div>
  </fieldset>

  <div class="form-group">
    <button id="saveButton" class="btn btn-primary" type="submit" translate="cSave" ng-click="updateAccountSubmit()"></button>
    <a ng-if="canTerminate" id="terminateAccountButton" class="terminate-button" href="" ng-click="openTerminateModal()" translate="cTerminateAccount"></a>
    <div ng-if="canDelete" confirm-delete-btn unique-id="deleteAccountButton" on-confirm="deleteCompanySubmit()" delete-button-class="btn btn-danger"><span translate="cDelete"></span></div>
    <button id="resendButton" class="btn btn-default" type="button" ng-if="hasStatusCreated" ng-click="resendActivationEmail()" translate="cResendActivationEmail"></button>
    <a id="gotoAccountUsersButton" class="btn btn-default" ng-href="#/accounts/{{ ::globals.linkParser.getSelfId(account) }}/users" translate="cGoToAccountUsers"></a>
  </div>
</form>
