<h3 class="page-title" translate="cManageAccounts"></h3>

<div class="clearfix row-with-bottom-spacing">
  <a id="addAccountLink" class="btn btn-primary" hp-if-permission="HP_ADMIN | RESELLER" ng-if="!DashboardInfo.isDashboard" ng-href="#/accounts/add-account" translate="cAddAccount"></a>
</div>

<div class="clearfix sort-list-row">
  <sort-list field-name="name" on-sort-change="accounts.orderBy" sort-group="accountTable" field-title="cSortByCompanyName" field-id="sort-page-companyname-btn" btn-id="sort-dropdown-companyname-btn"></sort-list>
  <sort-list field-name="status" on-sort-change="accounts.orderBy" sort-group="accountTable" field-title="cSortByStatus" field-id="sort-page-status-btn" btn-id="sort-dropdown-status-btn"></sort-list>

  <form class="search-input-group input-group pull-right">
    <input id="searchInput" class="form-control search-input" type="text" ng-model="searchString">
    <button id="searchButton" class="btn btn-primary search-button" type="submit" ng-click="search(searchString)" translate="cSearch"></button>
  </form>
</div>

<div class="pull-left">
  <uib-pagination ng-show="accounts.numPages > 1" ng-model="accounts.currentPage" ng-change="accounts.loadPage(accounts.currentPage)" boundary-links="true" total-items="accounts.getTotal()" items-per-page="accounts.getItemsPerPage()" num-pages="accounts.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"> </uib-pagination>
</div>
<hp-items-per-page pageable-resource="accounts"></hp-items-per-page>

<uib-accordion close-others="false" class="accordion account-list">
  <uib-accordion-group ng-repeat="account in accounts.list" is-open="status.open">
    <uib-accordion-heading>
      <div id="account-info" class="clearfix">
        <div class="account-name-column col-md-7">
          <span id="nameValue{{$index}}" class="accordion-toggle-box" ng-class="{'accordion-minus': status.open, 'accordion-plus': !status.open}"></span>
          <strong>{{account.name}}</strong>
          <a id="viewDetails{{$index}}" class="btn btn-sm btn-primary detail-btn" ng-click="$event.stopPropagation();" ng-href="#accounts/{{globals.linkParser.getSelfId(account)}}" translate="cViewDetails"></a>
        </div>
        <div class="account-license-column col-md-5">
          <span translate="cSolutions"></span>: <span id="totalLicensesValue{{$index}}" class="label label-default">{{ account.totalLicenses }}</span> &nbsp; | &nbsp;
          <span translate="cTrialsNearEnd"></span>: <span id="trialLicensesValue{{$index}}" class="label ng-class:{ 'label-success': account.trialsNearEnd==0, 'label-warning': account.trialsNearEnd==1 , 'label-danger': account.trialsNearEnd>1 }">{{ account.trialsNearEnd }}</span> &nbsp; | &nbsp;
          <span translate="cLicensesNearEnd"></span>: <span id="licensesNearEndValue{{$index}}" class="label ng-class:{ 'label-success': account.licensesNearEnd==0, 'label-warning': account.licensesNearEnd==1 , 'label-danger': account.licensesNearEnd>1 }">{{ account.licensesNearEnd }}</span>
        </div>
      </div>
    </uib-accordion-heading>

    <div class="row">
      <div id="addressDetails{{$index}}" class="col-md-6">
        <p><strong><span translate="cPhoneNumber"></span>:&nbsp;</strong>{{account.phoneNumber}}</p>
        <p><strong><span translate="cStatus"></span>:&nbsp;</strong><span translate="c{{account.status}}"></span></p>
        <p><strong><span translate="cAddress"></span>:&nbsp;</strong>{{account.address}}</p>
        <br>
        <p><strong><span translate="cContact"></span>:&nbsp;</strong>{{account.adminContact.firstName + ' ' + account.adminContact.lastName}}</p>
        <p><strong><span translate="cEmail"></span>:&nbsp;</strong>{{account.adminContact.email}}</p>
        <p><strong><span translate="cPhoneNumber"></span>:&nbsp;</strong>{{account.adminContact.phoneNumber}}</p>
      </div>
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th translate="cSolutions"></th>
                <th translate="cLicenseExpiration"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="license in account.licenses" ng-if="license.status=='ACTIVE'">
                <td id="solutionsDetails{{$index}}" hp-translate="license.offering.title" source="license.offering.fqName" width="50%"></td>
                <td id="licensesDetails{{$index}}" width="50%">
                  <span ng-class="{'licenseEndIn60DaysTitle': license.nearEnd 
                  && (license.isTrial || license.endIn60Days), 'licenseEndIn90DaysTitle': license.endIn90Days}">{{::license.endDate | date : 'M/d/yyyy' : timezone }}</span>
                  <span ng-show="license.daysTilTermination" translate="cLicenseExpireInDays" translate-values="license"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </uib-accordion-group>
</uib-accordion>


<div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="accounts.isLoading()"></div>

<div class="pull-left">
  <uib-pagination ng-show="accounts.numPages > 1" ng-model="accounts.currentPage" ng-change="accounts.loadPage(accounts.currentPage)" boundary-links="true" total-items="accounts.getTotal()" items-per-page="accounts.getItemsPerPage()" num-pages="accounts.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"> </uib-pagination>
</div>
