<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="accountNameValue" class="control-label" translate="cCompanyName"></label>
      <input id="accountNameValue" class="form-control" type="text" ng-model="account.name" maxlength="50" required>
    </div>
    <div class="row">
      <div class="col-xs-8 form-group">
        <label for="companyPhoneNumberValue" class="control-label" translate="cPhoneNumber"></label>
        <input id="companyPhoneNumberValue" class="form-control" type="tel" ng-model="account.phoneNumber" maxlength="25" required>
      </div>
      <div class="col-xs-4 form-group">
        <label for="companyPhoneExtensionValue" class="control-label" translate="cPhoneExtension"></label>
        <input id="companyPhoneExtensionValue" class="form-control" type="text" hp-only-digits ng-model="account.phoneExtension" maxlength="7">
      </div>
    </div>
    <div class="form-group" hp-if-permission="RESELLER" ng-if="!isMyCompany">
      <label for="customerIdValue" class="control-label" translate="cCustomerId"></label>
      <input id="customerIdValue" class="form-control" type="text" ng-model="account.customerId" maxlength="80">
    </div>
    <div ng-if="!isAdding">
      <!--If viewing "My Company"-->
      <div class="form-group" ng-if="isMyCompany || hasStatusCreated" ng-class="{ 'has-error': account.status === 'SUSPENDED' }">
        <label for="statusValue" class="control-label" translate="cStatus"></label>
        <div id="statusValue" class="form-control" translate="c{{ account.status }}" status-value="{{ account.status }}" readonly></div>
      </div>
      <!--If viewing another account and status !== CREATED-->
      <div class="form-group" ng-if="!isMyCompany && !hasStatusCreated" hp-if-permission="HP_ADMIN | RESELLER">
        <div>
          <label class="control-label" translate="cStatus"></label>
        </div>
        <div class="btn-group">
          <button id="statusActiveButton" class="btn btn-default" type="button" ng-model="account.status" uib-btn-radio="'ACTIVE'" translate="cActive"></button>
          <button id="statusSuspendedButton" class="btn btn-default" type="button" ng-model="account.status" uib-btn-radio="'SUSPENDED'" translate="cSuspended"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class=" form-group" hp-country-field="account.country" required></div>
    <div class="form-group">
      <label for="addressLine1Value" class="control-label" translate="cAddress"></label>
      <input id="addressLine1Value" class="form-control" type="text" ng-model="account.addressLine" maxlength="255">
      <br/>
      <label for="addressLine2Value" class="control-label" hidden></label>
      <input id="addressLine2Value" class="form-control" type="text" ng-model="account.addressLine2" maxlength="255">
    </div>
    <div class="form-group">
      <label for="cityValue" class="control-label" translate="cCity"></label>
      <input id="cityValue" class="form-control" type="text" ng-model="account.city" maxlength="40">
    </div>
    <div class="row">
      <div class="col-xs-8 form-group" hp-state-field="account.state" country-settings="countrySettings"></div>
      <div class="col-xs-4 form-group" ng-hide="!countrySettings.isSupported">
        <label for="zipcodeValue" class="control-label" translate="cZipPostal"></label>
        <!--This input for country postal codes needs to be changed and made more modular as more countries are supported. The way this is programmed now is only implemented because of time constraints for being close to production-->
        <div ng-if="account.country === 'CA'">
          <input id="zipcodeValue" class="form-control" type="text" ng-model="account.zipcode" ui-mask="A9A 9A9" ui-options="{clearOnBlur: false}" hp-apply-number-formatting>
        </div>

        <div ng-if="account.country !== 'CA'">
          <input id="zipcodeValue" ng-disabled="!countrySettings.isSupported" class="form-control" type="text" ng-model="account.zipcode" ui-mask="99999?-?9?9?9?9" ui-options="{clearOnBlur: false}" hp-pattern="globals.zipcodeRegex" hp-apply-number-formatting>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="showMetaTagForm">
  <div class="col-md-8">
    <div class="form-group">
      <label class="control-label" translate="cMetaTags"></label>
      <hp-meta-tags-form meta-tags="account.metaTags" free-form="globals.permissions.isHPAdmin" available-tags="metaTags"></hp-meta-tags-form>
    </div>
  </div>
</div>

<div class="row" ng-if="showProductButton && !isMyCompany && isPermittedToCheckout">
  <div class="col-md-4">
    <div class="form-group">
      <label class="control-label" translate="cProducts"></label>
      <hp-add-item-form add-item="addProduct()" edit-item="editProduct($item)" items="bindings.enrollmentInfos" display-item-template="product-list-template.html" add-item-label="cAddProduct" show-add-button-when="(bindings.availableProducts.length > 0)"></hp-add-item-form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="product-list-template.html">
  <span class="item-name" hp-translate="item.product.name" source="item.product.offering.fqName"></span>
  <span ng-if="item.status !== undefined" class="status" ng-class="{'terminated': item.status === 'TERMINATED', 'expired': item.licenseStatus === 'EXPIRED', 'active': item.status === 'ACTIVE' || item.status === 'PENDING'}" translate="c{{item.status}}"></span>
  <i class="fa validation-icon" ng-class="{ 'validation-pending': item.validating, 'validation-success': item.isLicenseKeyValid, 'validation-failure': item.isLicenseKeyValid===false } "></i>
</script>
