<h3 class="page-title" translate="cManageAccounts"></h3>

<div class="clearfix row-with-bottom-spacing">
  <a id="addAccountLink" hp-if-permission="HP_ADMIN | RESELLER" class="btn btn-primary" ng-href="#/accounts/add-account" translate="cAddAccount"></a>
</div>

<div class="pull-left">
  <uib-pagination ng-show="accounts.numPages > 1" ng-model="accounts.currentPage" ng-change="accounts.loadPage(accounts.currentPage)" boundary-links="true" total-items="accounts.getTotal()" items-per-page="accounts.getItemsPerPage()" num-pages="accounts.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
  </uib-pagination>
</div>
<hp-items-per-page pageable-resource="accounts"></hp-items-per-page>

<table class="table table-striped" ng-class="{'opaque-table': accounts.isLoading()}">
  <thead class="header">
    <tr>
      <th column-sort field-name="name" column-title="cName" on-sort-change="accounts.orderBy" sort-group="accountTable"></th>
      <th column-sort field-name="status" column-title="cStatus" on-sort-change="accounts.orderBy" sort-group="accountTable"></th>
      <th translate="cAdminContact"></th>
      <th translate="cAction"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="account in accounts.list">
      <td id="nameValue{{$index}}">{{account.name}}</td>
      <td id="statusValue{{$index}}" translate="c{{account.status}}"></td>
      <td>{{account.adminContact.email}}</td>
      <td>
        <a id="viewDetails{{$index}}" class="btn btn-sm btn-primary" ng-href="#accounts/{{globals.linkParser.getSelfId(account)}}" translate="cViewDetails"></a>
      </td>
    </tr>
  </tbody>
</table>

<div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="accounts.isLoading()"></div>

<div class="pull-left">
  <uib-pagination ng-show="accounts.numPages > 1" ng-model="accounts.currentPage" ng-change="accounts.loadPage(accounts.currentPage)" boundary-links="true" total-items="accounts.getTotal()" items-per-page="accounts.getItemsPerPage()" num-pages="accounts.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
  </uib-pagination>
</div>
