<form name="bindings.addProductForm" hp-form-validation-on="hpValidateAddProductForm" hp-empty-inputs-as-null role="form">
  <div class="modal-header">
    <h3 class="modal-title" translate="cAddProduct" ng-if="!isEditing"></h3>
    <h3 class="modal-title" hp-translate="enrollmentInfo.product.name" source="enrollmentInfo.product.offering.fqName" ng-if="isEditing"></h3>
    <span ng-if="enrollmentInfo.status !== undefined" ng-class="{'terminated': enrollmentInfo.status === 'TERMINATED', 'expired': enrollmentInfo.status === 'EXPIRED', 'active': enrollmentInfo.status === 'ACTIVE' || enrollmentInfo.status === 'PENDING'}" translate="c{{enrollmentInfo.status}}"></span>
  </div>

  <div class="modal-body">
    <div class="form-group" ng-if="!isEditing">
      <!-- Keep this line around for if/when we want to group products by offering. -->
      <!-- <select class="form-control" ng-options="productInfo.product as productInfo.i18n[productInfo.product.name] group by productInfo.i18n[productInfo.product.offering.title] for productInfo in products" ng-model="enrollmentInfo.product" required> -->
      <select class="form-control" ng-options="productInfo.product as productInfo.i18n[productInfo.product.name] for productInfo in products" ng-model="enrollmentInfo.product" ng-change="productSelected()" required>
        <option ng-show="!enrollmentInfo.product" value="" disabled translate="cSelectProduct"></option>
      </select>
    </div>
    <div ng-if="enrollmentInfo.product">
      <div class="row form-group">
        <div class="col-sm-12">
          <label for="licenseEndDate" class="control-label" translate="cLicenseEndDate"></label>
          <button id="licenseEndDate" class="form-control date-picker-input-box" type="button" uib-datepicker-popup ng-click="popupOpen = true" min-date="date" is-open="popupOpen" show-weeks="false" show-button-bar="false" ng-model='enrollmentInfo.licenseEndDate' required>{{enrollmentInfo.licenseEndDate | date:mediumDate}}</button>
        </div>
        <div class="col-sm-12">
          <div class="checkbox">
            <label>
              <input id="isTrial" type="checkbox" ng-change="toggleTrial()" ng-model="enrollmentInfo.isTrial" ignore-validity>
              <span translate="cTrial"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" translate="cBillingCategory"></label>
        <select class="form-control" ng-options="billingCategory for billingCategory in billingCategories" ng-model="enrollmentInfo.billingCategory" required>
        </select>
      </div>
      <div class="form-group" ng-if="showContractId()">
        <label for="contractId" class="control-label" translate="cContractId"></label>
        <input id="contractId" class="form-control" type="text" ng-model="enrollmentInfo.contractId" maxlength="255" required>
      </div>
      <div class="form-group" ng-repeat="field in enrollmentInfo.product.additionalFields">
        <label for="{{ field.i18nKey }}" class="control-label" hp-translate="field.i18nKey" source="enrollmentInfo.product.offering.fqName"></label>
        <input id="{{ field.i18nKey }}" class="form-control" type="text" ng-model="enrollmentInfo.additionalFieldValues[field.name]" ng-pattern="field.validationRegex" required>
      </div>
      <div class="form-group" ng-if="!enrollmentInfo.isTrial && meteringInfos">
        <label class="control-label" translate="cLicenseType"></label>
        <select class="form-control" ng-options="meteringInfoi18n[meteringInfo.i18n] for meteringInfo in meteringInfos track by meteringInfo.i18n" ng-model="enrollmentInfo.meteringInfo" required>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()" translate="cApply" ng-disabled="!enrollmentInfo.product"></button>
    <button class="btn btn-default" type="button" ng-click="cancel()" translate="cCancel"></button>
    <button class="btn btn-danger" type="button" ng-click="delete()" translate="cDelete" ng-if="isEditing && !existingProduct"></button>
  </div>
</form>
