<!-- Account Terminate Confirmation Modal Code -->

<div class="modal-header">
  <h3 class="modal-title" translate="cConfirmTerminate"></h3>
</div>
<div class="modal-body">
  <div class="terminate-modal-group">
    <p class="terminate-modal-title" translate="cTerminationReasons"></p>
    <form>
      <label class="terminate-radio-button">
        <input id="terminateReasonGeneric" type="radio" ng-model="reason.choice" ng-value="'TERM_GENERIC'">
        <span translate="cReasonGeneric"></span>
      </label>
      <label class="terminate-radio-button">
        <input id="terminateReasonPerf" type="radio" ng-model="reason.choice" ng-value="'TERM_PERFORMANCE'">
        <span translate="cReasonPerformance"></span>
      </label>
      <label class="terminate-radio-button">
        <input id="terminateReasonNotNeeded" type="radio" ng-model="reason.choice" ng-value="'TERM_NOT_NEEDED'">
        <span translate="cReasonNotNeeded"></span>
      </label>
      <label class="terminate-radio-button">
        <input id="terminateReasonAnother" type="radio" ng-model="reason.choice" ng-value="'TERM_FOUND_ANOTHER'">
        <span translate="cReasonFoundElsewhere"></span>
      </label>
      <label class="terminate-radio-button">
        <input id="terminateReasonHard" type="radio" ng-model="reason.choice" ng-value="'TERM_HARD_TO_USE'">
        <span translate="cReasonHardToUse"></span>
      </label>
      <label class="terminate-radio-button">
        <input id="terminateReasonQuestions" type="radio" ng-model="reason.choice" ng-value="'TERM_QUESTIONS'">
        <span translate="cReasonQuestionsNotAnswered"></span>
      </label>
      <label class="terminate-radio-button">
        <input id="terminateReasonOther" type="radio" ng-model="reason.choice" ng-value="'TERM_OTHER'">
        <span translate="cReasonOther"></span>
      </label>
    </form>
  </div>
  <div class="terminate-modal-group" uib-collapse="reason.choice !== 'TERM_OTHER'">
    <div class="terminate-modal-title" translate="cElaborate"></div>
    <textarea id="terminateReasonTextArea" class="form-control" ng-model="reason.elaboration" ng-trim="false" rows="5" maxlength="255" style="resize: none;"></textarea>
  </div>
  <div class="well well-lg">
    <span class="terminate-modal-title" translate="cVerifyPassword"></span>
    <input id="currentPasswordValue" name="currentPassword" class="form-control" type="password" autocomplete="off" ng-model="currentPassword.value" ng-trim="false" required>
    <span class="terminate-warning" translate="cTerminateWarning"></span>
  </div>
</div>
<div class="modal-footer">
  <button id="terminateAccountFinalButton" class="btn btn-danger" type="button" ng-click="terminate()" translate="cTerminateAccount"></button>
  <button id="cancelTerminationButton" class="btn btn-primary" type="button" ng-click="cancel()" translate="cCancel"></button>
</div>
