<div class="centered-form clearfix">
  <div ng-show="!submitted">
    <h2 translate="cRequestResellerAccount"></h2>
    <p translate="cNecessaryInformation"></p>
    <form id="sign-up-form" name="signUpForm" hp-disable-on="hpSubmitSignUpForm" role="form">
      <sign-up-form account="account" admin-contact="adminContact" recaptcha="bindings.recaptcha"></sign-up-form>

      <button id="signUpButton" class="btn btn-primary pull-right" type="submit" ng-click="signUpSubmit()" translate="cSignUp"></button>
    </form>
  </div>

  <div ng-show="submitted">
    <uib-alert type="success"><span translate="cSignupSuccessful"></span></uib-alert>
    <a id="returnHomeLink" href="#/default" class="btn btn-primary pull-right">
      <span translate="cReturnHome"></span>
    </a>
  </div>
</div>
