<div class="centered-form clearfix">
  <h2 class="text-center page-header" translate="cWelcomeToHpOnDemand"></h2>

  <div class="app-container" ng-if="product.$resolved">
    <div class="icon-box pull-left">
      <img class="img-responsive" ng-src="{{product.offering.urls.iconSmallUrl}}" />
    </div>
    <div class="app-info">
      <div class="content" tabindex="-1">
        <p class="title" hp-translate="product.offering.title" source="product.offering.fqName"></p>
        <p class="description" hp-translate="product.offering.description" source="product.offering.fqName"></p>
      </div>
    </div>
  </div>


  <div ng-if="state === states.loading" class="text-center">
    <div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="true"></div>
  </div>


  <div ng-if="state === states.fatalError">
    <uib-alert type="danger"><span>{{ fatalError.msg | translate : fatalError.params }}</span></uib-alert>
  </div>


  <div ng-if="state === states.doYouHaveAnAccount" class="text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" translate="cAlreadyHaveAccount"></h3>
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-default" ng-click="changeState(states.yesIHaveAnAccount)" translate="cYes"></button>
        <button type="button" class="btn btn-default" ng-click="changeState(states.noIDontHaveAnAccount)" translate="cNo"></button>
        <button type="button" class="btn btn-default" ng-click="changeState(states.imNotSureIfIHaveAnAccount)" translate="cImNotSure">I'm not sure</button>
      </div>
    </div>
  </div>


  <div ng-if="state === states.imNotSureIfIHaveAnAccount || state === states.didYouReceiveAnEmail">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" translate="cUsePasswordRecovery"></h3>
      </div>
      <div class="panel-body" ng-if="state === states.imNotSureIfIHaveAnAccount">
        <p>
          <span translate="cForgotPasswordDescription"></span>
          <!-- TODO: This needs to be dynamic -->
          <strong><span style="white-space: nowrap">no-reply@hpondemand.com</span></strong>
        </p>

        <form name="forgotPasswordForm" hp-disable-on="hpSubmitForgotPasswordForm" class="clearfix" role="form">

          <div class="form-group">
            <label for="emailAddressValue" class="control-label" translate="cEmailAddress"></label>
            <input id="emailAddressValue" class="form-control" type="email" name="emailAddressValue" placeholder="{{ 'cSampleEmailAddress' | translate }}" ng-model="forgotPasswordEmail" required hp-focus-on-load>
          </div>

          <hr/>

          <button id="submitButton" class="btn btn-primary pull-right" type="submit" ng-click="forgotPasswordFormSubmit(forgotPasswordEmail)" translate="cSubmit"></button>
        </form>
      </div>

      <div class="panel-body" ng-if="state === states.didYouReceiveAnEmail">
        <p translate="cEmailSentToResetPassword2"></p>
        <p translate="cCheckSpamThenCreateAccount"></p>
        <p translate="cDidYouReceiveEmail"></p>

        <div class="form-group">
          <button type="button" class="btn btn-default" ng-click="changeState(states.yesIHaveAnAccount)" translate="cYesIHaveAnAccount"></button>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default" ng-click="changeState(states.noIDontHaveAnAccount)" translate="cNoCreateANewAccount"></button>
        </div>
      </div>
    </div>
  </div>


  <div ng-if="state === states.isLoggedIn || state === states.yesIHaveAnAccount || state === states.noIDontHaveAnAccount">

    <form id="sign-up-form" name="mainForm" hp-disable-on="hpSubmitMainForm" role="form">

      <div class="panel panel-default" ng-if="state === states.yesIHaveAnAccount">
        <div class="panel-heading">
          <h4 class="panel-title" translate="cEnterCredentials"></h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="userNameValue" class="control-label" translate="cUserName"></label>
              <input id="userNameValue" name="userName" class="form-control" type="text" placeholder="{{ 'cSampleEmailAddress' | translate }}" ng-model="loginForm.j_username" required auto-fill-sync>
            </div>

            <div class="form-group col-sm-6">
              <label for="passwordValue" class="control-label" translate="cPassword"></label>
              <input id="passwordValue" name="password" class="form-control" type="password" ng-model="loginForm.j_password" ng-trim="false" required auto-fill-sync>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default" ng-if="state === states.noIDontHaveAnAccount">
        <div class="panel-heading">
          <h4 class="panel-title" translate="cCreateNewAccount"></h4>
        </div>
        <div class="panel-body">
          <sign-up-form account="account" admin-contact="adminContact" recaptcha="bindings.recaptcha"></sign-up-form>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{ 'cEnterRequiredInformation' | translate : product }}</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="licenseKeyValue" class="control-label" translate="cLicenseKey"></label>
              <input id="licenseKeyValue" name="licenseKey" class="form-control" type="text" ng-model="licenseData.licenseKey" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6" ng-repeat="field in product.additionalFields">
              <label for="{{ field.i18nKey }}" class="control-label" hp-translate="field.i18nKey" source="product.offering.fqName"></label>
              <input id="{{ field.i18nKey }}" class="form-control" type="text" ng-model="bindings.additionalFieldValues[field.name]" ng-pattern="field.validationRegex" required>
            </div>
          </div>
        </div>
      </div>

      <button id="submitButton" class="btn btn-primary pull-right" type="submit" ng-click="mainFormSubmit()">{{ submitButtonText | translate }}</button>
    </form>

  </div>

  <div ng-if="state === states.submitSuccess">
    <div ng-repeat="message in successMessages">
      <uib-alert type="success"><span translate="{{ message }}"></span></uib-alert>
    </div>

    <a id="returnHomeLink" href="#/default" class="btn btn-primary pull-right">
      <span translate="cReturnHome"></span>
    </a>
  </div>

</div>
