/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

// Core variables and mixins
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/mixins";
// Reset
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/normalize";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/print";
// Core CSS
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/scaffolding";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/type";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/code";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/grid";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/tables";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/forms";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/buttons";
// Components
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/component-animations";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/glyphicons";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/dropdowns";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/button-groups";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/input-groups";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/navs";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/navbar";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/breadcrumbs";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/pagination";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/pager";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/labels";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/badges";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/jumbotron";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/thumbnails";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/alerts";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/progress-bars";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/media";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/list-group";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/panels";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/wells";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/close";
// Components w/ JavaScript
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/modals";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/tooltip";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/popovers";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/carousel";
// Utility classes
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/utilities";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/responsive-utilities";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/variables";

/*
* External stylesheets
*/

@import (less) "../../../bower_components/ngToast/dist/ngToast.css";
@import (less) "../../../bower_components/ngToast/dist/ngToast-animations.css";

/**
 * Use Font Awesome instead of default Bootstrap Glyphicons
 */

@import "../../../bower_components/font-awesome/less/font-awesome";

/**
 * Module and page styles
 */

@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/body";
@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/header";
@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/footer";
@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/forms";

/**
 * Eula page layout
 */

.main {
  padding: 30px;
}

@media screen and (min-width: 768px) {}

.resize-vertical-only {
  resize: vertical;
}

.resize-horizontal-only {
  resize: horizontal;
}

body.no-transition * {
  transition: none !important;
}
