<ol class="breadcrumb">
  <li ng-repeat="crumb in currentView().breadcrumb" ng-class="{active: !crumb.url}">
    <a id="crumbLink{{$index}}" ng-if="crumb.url" ng-href="{{crumb.url}}">
      <span translate="{{ crumb.title }}"></span>
    </a>
    <span ng-if="!crumb.url" translate="{{ crumb.title }}"></span>
  </li>
</ol>
