<label for="countryValue" class="control-label" translate="cCountry"></label>
<select id="countryValue" class="form-control">
  <!--ADD ng-change="updateLocales()" if we ever support regionalized languages -->
  <option value="" translate="cSelectCountry"></option>
  <option ng-repeat="country in countries" ng-selected="{{selectedValue === country.abbreviation}}" value="{{country.abbreviation}}">{{country.name}}</option>
</select>
