<div class="row add-item-form">
  <div class="col-md-6">
    <div class="list-group" ng-if="freeForm">
      <a ng-repeat="metaTag in metaTags" class="list-group-item" ng-click="edit(metaTag)" tabindex="-1">{{metaTag}}</a>
      <a class="list-group-item btn-default" ng-click="add()" id="addMetaTagButton" href="">
        <i class="fa fa-plus-circle"></i> <b translate="cAddMetaTag"></b>
      </a>
    </div>
    <div class="list-group" ng-if="!freeForm">
      <a ng-repeat="metaTag in availableTags" class="list-group-item" ng-class="{active: metaTags.indexOf(metaTag) !== -1}" ng-click="toggle(metaTag)" tabindex="-1">
        <i class="fa fa-fw" ng-class="metaTags.indexOf(metaTag) !== -1 ? 'fa-check-square-o' : 'fa-square-o'"></i> &nbsp;{{metaTag}}
      </a>
    </div>
  </div>

  <div class="col-md-6" ng-show="editing || adding">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span ng-if="adding" translate="cAddMetaTag"></span>
          <span ng-if="editing" translate="cEditMetaTag"></span>
        </h3>
      </div>
      <div class="panel-body">
        <input id="editMetaTagValue" class="form-control" type="text" ng-model="newValue">
      </div>
      <div class="panel-footer">
        <button id="editMetaTagCancelButton" type="button" ng-click="resetForm()" translate="cCancel" class="btn btn-default btn-sm"></button>
        <span ng-if="editing">
          <button id="editMetaTagRemoveButton" type="button" ng-click="remove()" translate="cDelete" class="btn btn-danger btn-sm"></button>
          <button id="editMetaTagSaveButton" type="button" ng-disabled="newValue === oldValue || !newValue" ng-click="save()" translate="cSave" class="btn btn-primary btn-sm"></button>
        </span>
        <span ng-if="adding">
          <button id="editMetaTagSaveButton" type="button" ng-disabled="!newValue" ng-click="add()" translate="cAdd" class="btn btn-primary btn-sm"></button>
        </span>
      </div>
    </div>
  </div>
</div>
