<div class="row">
  <div class="form-group col-md-4">
    <label for="firstNameValue" class="control-label" translate="cFirstName"></label>
    <input id="firstNameValue" class="form-control" type="text" ng-model="user.firstName" maxlength="40" required>
  </div>
  <div class="form-group col-md-4">
    <label for="lastNameValue" class="control-label" translate="cLastName"></label>
    <input id="lastNameValue" class="form-control" type="text" ng-model="user.lastName" maxlength="80" required>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-xs-8">
        <div class="form-group">
          <label for="userPhoneNumberValue" class="control-label" translate="cPhoneNumber"></label>
          <input id="userPhoneNumberValue" class="form-control" type="tel" ng-model="user.phoneNumber" maxlength="25">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="userPhoneExtensionValue" class="control-label" translate="cPhoneExtension"></label>
          <input id="userPhoneExtensionValue" class="form-control" type="text" ng-model="user.phoneExtension" hp-only-digits maxlength="7">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-4" ng-if="showEmail">
    <label for="emailValue" class="control-label" translate="cEmail"></label>
    <input id="emailValue" name="emailValue" ng-disabled="disableEmail" class="form-control" type="email" ng-model="user.email" maxlength="80" required>
  </div>
  <div class="form-group col-md-4" ng-if="showEmail && isAdding">
    <label for="emailVerifyValue" class="control-label" translate="cVerifyEmail"></label>
    <input id="emailVerifyValue" name="emailVerifyValue" class="form-control" type="email" ng-model="user.emailVerify" maxlength="80" required hp-match-field="{{user.email}}">
  </div>
  <div class="col-md-2" ng-if="showLocales">
    <div class="form-group">
      <label for="userLocaleValue" class="control-label" translate="cLocale"></label>
      <select id="userLocaleValue" class="form-control" ng-model="user.locale" ng-options="lang as name for (lang, name) in locales" required></select>
    </div>
  </div>

  <div class="col-md-4" ng-if="!isAdding && showStatus">
    <!--If viewing "My Profile"-->

    <div ng-if="(isSelf || hasStatusCreated) ">
      <div class="form-group" ng-class="{ 'has-error': user.status === 'SUSPENDED' }">
        <label for="statusValue" class="control-label" translate="cStatus"></label>
        <div id="statusValue" class="form-control" translate="c{{ user.status }}" status-value="{{ user.status }}" readonly></div>
      </div>
    </div>
    <!--If viewing another user and status !== CREATED-->
    <div class="form-group" ng-if="!isSelf && !hasStatusCreated" hp-if-permission="HP_ADMIN | RESELLER | COMPANY_ADMIN">
      <div>
        <label class="control-label" translate="cStatus"></label>
      </div>
      <div class="btn-group">
        <button id="statusActiveButton" class="btn btn-default" type="button" ng-model="user.status" uib-btn-radio="'ACTIVE'" translate="cActive"></button>
        <button id="statusSuspendedButton" class="btn btn-default" type="button" ng-model="user.status" uib-btn-radio="'SUSPENDED'" translate="cSuspended"></button>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="showRoles && _showRoles">
  <div class="col-md-4" ng-if="isSelf && user.roles.length > 1">
    <div class="form-group">
      <label class="control-label" translate="cRoles"></label>
      <div class="well well-sm">
        <span ng-if="role !== 'ROLE_USER'" ng-repeat="role in user.roles">
          <span translate="c{{role}}"></span><span ng-if="$index + 1 !== user.roles.length">, </span>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-4" ng-if="!isSelf">
    <div class="form-group">
      <label class="control-label" translate="cRoles"></label>
      <div class="well well-sm">
        <div ng-repeat="role in roles">
          <div ng-if="role.show" class="checkbox">
            <label class="control-label">
              <input id="role{{role.id}}Value" name="role{{role.id}}" type="checkbox" checklist-model="user.roles" checklist-value="role.value">
              <span translate="c{{role.value}}"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" ng-if="isEmailOptInDisplayed">
    <div class="form-group">
      <label class="control-label" translate="cEmailCommunications"></label>
      <div class="checkbox">
        <input id="optedInValue" type="checkbox" ng-model="user.optedIntoEmail">
        <label for="optedInValue" translate="cOptIn"></label>
      </div>
      <div class="checkbox" ng-if="showEmailTracking">
        <input id="emailTrackingOptedInValue" type="checkbox" ng-model="user.optedIntoEmailTracking">
        <label for="emailTrackingOptedInValue" translate="cDataCollection"></label>
      </div>
    </div>
  </div>
</div>
