<h3 class="page-title" translate="cUtilities"></h3>

<uib-pagination ng-show="downloads.numPages > 1" ng-model="downloads.currentPage" ng-change="downloads.loadPage(downloads.currentPage)" boundary-links="true" total-items="downloads.getTotal()" items-per-page="downloads.getItemsPerPage()" num-pages="downloads.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
</uib-pagination>

<table class="table table-striped" ng-class="{'opaque-table': downloads.isLoading()}">
  <thead class="header">
    <tr>
      <th translate="cApp"></th>
      <th translate="cUtilityName"></th>
      <th translate="cVersion"></th>
      <th translate="cNote"></th>
      <th translate="cAction"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="download in downloads.list">
      <td id="appName{{$index}}" hp-translate="offerings[download.offeringFqNames[0]].title" source="download.offeringFqNames[0]"></td>
      <td id="utilityName{{$index}}" hp-translate="download.title" source="download.fqName"></td>
      <td id="utilityVersion{{$index}}">{{download.version}}</td>
      <td id="utilityDescription{{$index}}" hp-translate="download.description" source="download.fqName"></td>
      <td>
        <a id="downloadLink{{$index}}" class="btn btn-small btn-primary" hp-analytics-click="trackAppDriverDownload" payload="[ '{{ download.url }}' ]" href="{{download.url}}">
          <span translate="cDownload"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="downloads.isLoading()"></div>
