<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<form hp-disable-on="hpDisableAccountGroupsForm" hp-empty-inputs-as-null name="accountGroupsProfileForm" role="form">
  <h3 class="page-title" translate="cAccountGroupsManage"></h3>

  <table class="table table-striped" ng-class="{'opaque-table': accountGroups.isLoading()}">
    <thead class="header">
      <tr>
        <th translate="cName"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="accountGroup in accountGroups.list">
        <td id="nameValue{{$index}}">{{accountGroup.name}}</td>
        <td>
          <a id="viewDetails{{$index}}" class="btn btn-sm btn-primary" ng-href="#accountGroups/{{globals.linkParser.getSelfId(accountGroup)}}" translate="cViewDetails"></a>
        </td>
        <td>
          <div confirm-delete-btn unique-id="" on-confirm="deleteGroupSubmit(accountGroup)" delete-button-class="btn btn-danger btn-sm">
            <span translate="cDelete"></span></div>
        </td>
      </tr>

    </tbody>
  </table>

  <div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="accountGroups.isLoading()"></div>

  <uib-pagination ng-show="accountGroups.numPages > 1" ng-model="accountGroups.currentPage" ng-change="accountGroups.loadPage(accountGroups.currentPage)" boundary-links="true" total-items="accountGroups.getTotal()" items-per-page="accountGroups.getItemsPerPage()" num-pages="accountGroups.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
  </uib-pagination>
</form>
