<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="schemaVersions.isLoading()"></div>

<h4 translate="cDatabaseExpansions"></h4>
<table class="table table-striped">
  <thead class="header">
    <tr>
      <th translate="cInstalledRank"></th>
      <th translate="cVersion"></th>
      <th translate="cDescription"></th>
      <th translate="cType"></th>
      <th translate="cScript"></th>
      <th translate="cInstalledOn"></th>
      <th translate="cSuccess"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="schemaVersion in schemaVersions.list | filter:{migrationType:'expansion'}">
      <td id="installedRank{{$index}}">{{schemaVersion.installedRank}}</td>
      <td id="version{{$index}}">{{schemaVersion.version}}</td>
      <td id="description{{$index}}">{{schemaVersion.description}}</td>
      <td id="type{{$index}}">{{schemaVersion.type}}</td>
      <td id="script{{$index}}">{{schemaVersion.script}}</td>
      <td id="installedOn{{$index}}">{{schemaVersion.installedOn}}</td>
      <td id="success{{$index}}">{{schemaVersion.success}}</td>
    </tr>
  </tbody>
</table>

<h4 translate="cDatabaseContractions"></h4>
<table class="table table-striped">
  <thead class="header">
    <tr>
      <th translate="cInstalledRank"></th>
      <th translate="cVersion"></th>
      <th translate="cDescription"></th>
      <th translate="cType"></th>
      <th translate="cScript"></th>
      <th translate="cInstalledOn"></th>
      <th translate="cSuccess"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="schemaVersion in schemaVersions.list | filter:{migrationType:'contraction'}">
      <td id="installedRank{{$index}}">{{schemaVersion.installedRank}}</td>
      <td id="version{{$index}}">{{schemaVersion.version}}</td>
      <td id="description{{$index}}">{{schemaVersion.description}}</td>
      <td id="type{{$index}}">{{schemaVersion.type}}</td>
      <td id="script{{$index}}">{{schemaVersion.script}}</td>
      <td id="installedOn{{$index}}">{{schemaVersion.installedOn}}</td>
      <td id="success{{$index}}">{{schemaVersion.success}}</td>
    </tr>
  </tbody>
</table>
