<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<form>
  <div class="row">
    <div class="col-md-3 form-group">
      <label for="entityIdValue" class="control-label" translate="cEntityId"></label>
      <input id="entityIdValue" class="form-control" type="text" ng-model="entityRepair.entityId" maxlength="40" required>
    </div>
    <div class="col-md-3 form-group">
      <label for="repairScopeValue" class="control-label" translate="cScopeSelect"></label>
      <select id="repairScopeValue" class="form-control" ng-model="entityRepair.entityScope">
        <option value="singleUser" translate="cEntityRepairSingleUser"></option>
        <option value="singleAccount" translate="cEntityRepairSingleAccount"></option>
        <option value="allUsersUnderThisAccount" translate="cEntityRepairAllUsers"></option>
        <option value="singleUserPermissions" translate="cEntityRepairSingleUserPermissions"></option>
        <option value="singleAccountPermissions" translate="cEntityRepairSingleAccountPermissions"></option>
        <option value="allAccountPermissions" translate="cEntityRepairAllAccountPermissions"></option>
      </select>
    </div>
  </div>

  <div>
    <button id="fixItButton" type="submit" class="btn btn-primary" ng-click="submit()" translate="cFixIt"></button>
  </div>

  <div>
    <span translate="cInstructions"></span>
    <ol>
      <li><span translate="cEntityRepairInstruction1"></span></li>
      <li><span translate="cEntityRepairInstruction2"></span></li>
      <li><span translate="cEntityRepairInstruction3"></span></li>
    </ol>
  </div>
</form>
