.centered-form {
  @media (min-width: @screen-sm-min) {
    width: 600px;
    .center-block()
  }
  h2 {
    @media (max-width: @screen-sm-min) {
      font-size: 22px;
    }
  }
}

#recaptcha_privacy {
  display: none;
}

.app-container {
  ::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-thumb {
    border: solid 2px white;
    border-radius: 4px;
    background-color: @gray-light;
  }
  margin: 20px 0;
  border: solid thin @gray-lightish;
  .icon-box {
    padding: 10px;
  }
  .app-info {
    overflow: hidden;
    border-left: solid thin @gray-lightish;
    .content {
      padding: 8px 3px 0 8px;
      height: 100px;
      padding-right: 5px;
      overflow-y: auto;
    }
    .title {
      font-size: 16px;
    }
    .description {
      font-size: 12px;
      color: @gray;
      margin: 0;
    }
  }
}
