<div class="row">

  <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

    <h1 translate="cActivateYourAccount"></h1>

    <div ng-show="!hasSuccess">

      <p translate="cActivateAccountMessage"></p>

      <form hp-disable-on="hpDisableActivateForm" name="activateForm" role="form">
        <div hp-password-validation form-data="formData" horizontal-layout="true" focus-on-load="true" password-policy="passwordPolicy"></div>

        <div class="form-group checkbox">
          <label class="control-label">
            <input id="agreeToTermsCheckbox" name="agreeToTerms" type="checkbox" ng-model="formData.agreeToTerms" required>
            <small><span translate="cIAgree"></span></small>
            <small><a id="termsOfUseAgreeLink" href="#/terms-of-use" target="_blank" translate="cTermsOfUse"></a></small>
          </label>
        </div>

        <!--  the privacy policy check box is deprecated, but hidden and set to true until we decide how to handle it on the UI -->
        <div class="form-group checkbox" style="display: none;">
          <label class="control-label">
            <input id="agreeToPrivacyCheckbox" name="agreeToPrivacy" type="checkbox" class="hidden" ng-model="formData.agreeToPrivacy" required>
            <small><span translate="cIAgree"></span></small>
            <a id="privacyPolicyAgreeLink" href="http://www.hp.com/go/privacy" target="_blank" translate="cPrivacyPolicy"></a>
          </label>
        </div>


        <!--optIn-->
        <div class="form-group" ng-if="isEmailOptInDisplayed">
          <hr>
          <div>
            <label>
              <small><span translate="cOptIn"></span></small>
            </label>
          </div>
          <div>
            <label class="control-label radio-inline">
              <input id="optYes" name="agreeCheckbox" type="radio" ng-model="formData.optedIntoEmail" ng-value="true" required>
              <small><span translate="cYes"></span></small>
            </label>
            <label class="control-label radio-inline">
              <input id="optNo" name="agreeCheckbox" type="radio" ng-model="formData.optedIntoEmail" ng-value="false" required>
              <small><span translate="cNo"></span></small>
            </label>
          </div>
        </div>

        <!--EMEA-->
        <div class="form-group " ng-if="isEmailTrackingDisplayed">
          <hr>
          <div>
            <label>
              <small translate="cDataCollection"></small>
            </label>
          </div>
          <div>
            <label class="radio-inline">
              <input id="emeaYes" name="emeaCheck" type="radio" ng-model="formData.optedIntoEmailTracking" ng-value="true" required>
              <small><span translate="cYes"></span></small>
            </label>
            <label class="radio-inline">
              <input id="emeaNo" name="emeaCheck" type="radio" ng-model="formData.optedIntoEmailTracking" ng-value="false" required>
              <small translate="cNo"></small>
            </label>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-10">
            <p translate="cActivateDisclaimer"></p>
          </div>
          <div class="col-md-2">
            <button id="activateButton" class="btn btn-primary pull-right" type="submit" ng-click="submit()" translate="cActivate"></button>
          </div>
        </div>
      </form>
    </div>

    <div class="alert alert-success" ng-if="hasSuccess">
      <p translate="cActivateSuccess"></p>
      <p>
        <a id="loginLink" ng-href="{{globals.serverURL}}" translate="cLogIn"></a>
      </p>
    </div>

  </div>

</div>
