<div class="text-center modal-header">
  <h3 class="modal-title">
    <span hp-translate="product.name" source="offering.fqName"></span>
    <span ng-if="isTrial" translate="cTrial"></span>
  </h3>
</div>
<div class="modal-body text-center">
  <h3 ng-if="isTrial" translate="cTrialDayRemaining"></h3>
  <h3 ng-if="!isTrial" translate="cLicenseDayRemaining"></h3>
  <h4>
    <b>{{ daysTillExpiration }}</b>
    <span translate="cDays"></span>
  </h4>
  <div>
    <span translate="cWantToPurchase" translate-values="translate"></span>
  </div>
  <div translate="cContactReseller"></div>
</div>
<div class="modal-footer">
  <a class="btn btn-primary" ng-click="redirect()" translate="cLaunchApp"></a>
</div>
