<div ng-if='DashboardInfo.permission'>
  <h3 class="page-title">{{DashboardInfo.companyName}}</h3>

  <div>
    <ul class="list-inline account-summary">
      <li id="totalAccounts{{$index}}">
        <h1 text="{{accountInfo.accountCount}}">{{accountInfo.accountCount}}</h1>
        <div translate="cCustomerAccounts"></div>
      </li>
      <li id="activeAccounts{{$index}}">
        <h1>{{accountInfo.activeAccountPercent | number : 0}}<span class="activePercentatge">%</span></h1>
        <div translate="cACTIVE"></div>
      </li>
      <li id="activeLicense{{$index}}">
        <h1>{{accountInfo.activeLicenseCount}}</h1>
        <div translate="cSolutions"></div>
      </li>
      <li id="paidLicenses{{$index}}">
        <h1>{{accountInfo.paidLicenses}}</h1>
        <div translate="cPaidLicenses"></div>
      </li>
      <li id="trialLicenses{{$index}}">
        <h1>{{accountInfo.trialLicenses}}</h1>
        <div translate="cTrialLicenses"></div>
      </li>
      <li id="licensesNearEnd{{$index}}">
        <h1 class="licenseEndIn90DaysTitle">{{accountInfo.licensesNearEnd}}</h1>
        <div translate="cLicensesNearEnd"></div>
      </li>
    </ul>
  </div>
  <div ng-include="'app/home/accounts/accounts-v2.html'" ng-controller="AccountsCtrl-v2"></div>
</div>

<div ng-if='!DashboardInfo.permission'>
  <h3 class="page-title" translate="cDashboard"></h3>

  <div class="row" ng-controller="WidgetsCtrl">
    <div class="col-lg-4 col-sm-6" ng-repeat="widget in widgets">
      <div class="widget" ng-include="widget.templateUrl"></div>
    </div>
  </div>
</div>
