<h3 class="page-title" translate="cManageDevices"></h3>

<div class="pagination-nav">
  <uib-pagination ng-show="devices.numPages > 1" ng-model="devices.currentPage" ng-change="devices.loadPage(devices.currentPage)" boundary-links="true" total-items="devices.getTotal()" items-per-page="devices.getItemsPerPage()" num-pages="devices.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
  </uib-pagination>
</div>
<hp-items-per-page pageable-resource="devices"></hp-items-per-page>

<table class="table table-striped" ng-class="{'opaque-table': devices.isLoading()}">
  <thead class="header">
    <tr>
      <th column-sort field-name="modelName" column-title="cModelName" on-sort-change="devices.orderBy" sort-group="deviceTable"></th>
      <th column-sort field-name="productNumber" column-title="cProductNumber" on-sort-change="devices.orderBy" sort-group="deviceTable"></th>
      <th column-sort field-name="serialNumber" column-title="cSerialNumber" on-sort-change="devices.orderBy" sort-group="deviceTable"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="device in devices.list">
      <td>{{device.modelName}}</td>
      <td>{{device.productNumber}}</td>
      <td>{{device.serialNumber}}</td>
    </tr>
  </tbody>
</table>

<div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="devices.isLoading()"></div>

<div class="pagination-nav">
  <uib-pagination ng-show="devices.numPages > 1" ng-model="devices.currentPage" ng-change="devices.loadPage(devices.currentPage)" boundary-links="true" total-items="devices.getTotal()" items-per-page="devices.getItemsPerPage()" num-pages="devices.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
  </uib-pagination>
</div>
