<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HP JetAdvantage On Demand</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="assets/favicon.ico">

  <!-- build:css(.tmp) styles/home.css -->
  <link rel="stylesheet" href="styles/home.css">
  <!-- endbuild -->
</head>
<body id="ng-app" ng-app="hp.portal.home.homeApp" ng-controller="HomeCtrl">

  <!-- build:js scripts/common.global.js -->
  <!-- This javascript needs to be loaded first to handle any errors that may happen during page load. -->
  <script src="bower_components/titan-web-sdk/dist/scripts/titan-testhooks-globals.js"></script>
  <!-- endbuild -->

  <toast></toast>

  <div hp-load-analytics ga-tracking-id="${gaTrackingId}"></div>

  <!-- Header -->
  <div hp-oxpw-header class="header"  logo-url="{{globals.cdnURL}}assets/logo.png" self="self" portal-configurations="globals.portalConfigurations"></div>

  <!-- nav sidebar -->
  <div ng-controller="NavCtrl">

    <div ng-if="showSidebar()" ng-include="'app/home/navigation/navigation.html'"></div>

    <div ng-class="{ 'content-wrap' : showSidebar() }">

      <!-- Contains modules -->
      <div class="main" ng-view="" role="main"></div>

      <!-- Footer -->
      <div class="footer-nav" ng-include="'app/common/footer/footer.html'" ng-controller="FooterCtrl"></div>

    </div>

  </div>

  <!-- IMPORTANT: These "common" sections of scripts MUST match exactly the common scripts in index/eula/login html pages. -->
  <!-- build:js scripts/common.modules.js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <script src="bower_components/angulartics/src/angulartics.js"></script>
  <script src="bower_components/angulartics/src/angulartics-ga.js"></script>
  <script src="bower_components/ngToast/dist/ngToast.js"></script>
  <script src="lib/angular-locker.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/common.sdk.js -->
  <script src="bower_components/titan-web-sdk/dist/scripts/titan-sdk.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/index.modules.js -->
  <script src="bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="bower_components/flot/jquery.flot.js"></script>
  <script src="bower_components/flot/jquery.flot.pie.js"></script>
  <script src="bower_components/flot/jquery.flot.resize.js"></script>
  <script src="bower_components/angular-flot/angular-flot.js"></script>
  <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
  <script src="bower_components/checklist-model/checklist-model.js"></script>
  <script src="bower_components/moment/min/moment-with-locales.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <!-- endbuild -->

  <script>
    'use strict';

    var _cdnURL = '${cdnURL}';
    var _currentGitHash = '${currentGitHash}';
    var _serverURL = '${serverURL}';
    var _profile = '${profile}';
    var _allowedLocales = '${allowedLocales}';

    /*test-code*/
    _cdnURL = '';
    _currentGitHash = '';
    _serverURL = '';
    _profile = 'local_test';
    _allowedLocales = '["en-US", "fr-CA", "it-IT", "de-DE", "es-ES", "nl-NL", "pt-BR", "pt-PT", "zh-CN", "zh-TW"]';
    /*end-test-code*/

    angular.module('init', [])
    .constant('cdnURL', _cdnURL)
    .constant('currentGitHash', _currentGitHash)
    .constant('serverURL', _serverURL)
    .constant('profile', _profile)
    .constant('allowedLocales', _allowedLocales)
    .constant('localeMap', {
      'en-US': 'app/common/i18n/locale-en-US.json',
      'fr-CA': 'app/common/i18n/locale-fr-CA.json',
      'de-DE': 'app/common/i18n/locale-de-DE.json',
      'es-ES': 'app/common/i18n/locale-es-ES.json',
      'it-IT': 'app/common/i18n/locale-it-IT.json',
      'nl-NL': 'app/common/i18n/locale-nl-NL.json',
      'pt-BR': 'app/common/i18n/locale-pt-BR.json',
      'pt-PT': 'app/common/i18n/locale-pt-PT.json',
      'zh-CN': 'app/common/i18n/locale-zh-CN.json',
      'zh-TW': 'app/common/i18n/locale-zh-TW.json'
    });
  </script>

  <!-- build:js scripts/index.js -->
  <script src="app/common/webservices/webservices.js"></script>
  <script src="app/common/webservices/resource-service.js"></script>
  <script src="app/common/webservices/pageable-resource.js"></script>
  <script src="app/common/webservices/task-service.js"></script>
  <script src="app/common/webservices/endpoints.js"></script>
  <script src="app/common/webservices/tasks.js"></script>
  <script src="app/common/webservices/entitlements-services.js"></script>
  <script src="app/common/widgets/widgets.js"></script>
  <script src="app/common/init/utils.js"></script>
  <script src="app/common/init/cdn.js"></script>
  <script src="app/common/forms/country.js"></script>
  <script src="app/common/forms/company-contact.js"></script>
  <script src="app/common/forms/meta-tags.js"></script>
  <script src="app/common/forms/add-item.js"></script>
  <script src="app/common/forms/pattern.js"></script>
  <script src="app/common/forms/user-form.js"></script>
  <script src="app/common/pagination/items-per-page.js"></script>
  <script src="app/common/pagination/sort-list.js"></script>
  <script src="app/common/widgets/widget-users-graph.js"></script>
  <script src="app/common/widgets/widget-pullprint.js"></script>
  <script src="app/common/widgets/widget-account-search.js"></script>
  <script src="app/common/filters/hp-starts-with.js"></script>
  <script src="app/common/product-helpers/add-and-edit-product.js"></script>
  <script src="app/common/helpers/error-code-mapper.js"></script>
  <script src="app/common/helpers/password-policy.js"></script>
  <script src="app/common/i-oxpw-sdk-app/i-oxpw-sdk-app.js"></script>
  <script src="app/common/constants/commerceProviders.js"></script>
  <script src="app/common/constants/billingCategories.js"></script>
  <script src="app/common/modals/license-countdown-modal.js"></script>
  <script src="app/home/webservices/webservices-v2.js"></script>
  <script src="app/home/webservices/tasks.js"></script>
  <script src="app/home/navigation/routes-and-urls.js"></script>
  <script src="app/home/users/users.js"></script>
  <script src="app/home/users/user-status.js"></script>
  <script src="app/home/accounts/accounts.js"></script>
  <script src="app/home/accounts/accounts-v2.js"></script>
  <script src="app/home/accounts/add-account.js"></script>
  <script src="app/home/accounts/account-status.js"></script>
  <script src="app/home/accounts/account-details.js"></script>
  <script src="app/home/accounts/add-product-to-account-modal.js"></script>
  <script src="app/home/resellers/resellers.js"></script>
  <script src="app/home/resellers/add-reseller.js"></script>
  <script src="app/home/resellers/reseller-details.js"></script>
  <script src="app/home/users/user-details.js"></script>
  <script src="app/home/forms/state.js"></script>
  <script src="app/home/dashboard/dashboard.js"></script>
  <script src="app/home/dashboard/dashboard-v2.js"></script>
  <script src="app/home/navigation/navigation.js"></script>
  <script src="app/home/appCatalog/appCatalog.js"></script>
  <script src="app/home/appCatalog/appWidget.js"></script>
  <script src="app/home/app-management/app-management.js"></script>
  <script src="app/home/app-management/add-user-to-product-modal.js"></script>
  <script src="app/home/app-management/confirm-entitlement-changes.js"></script>
  <script src="app/home/app-management/update-entitlements-modal.js"></script>
  <script src="app/home/utilities/utilities.js"></script>
  <script src="app/home/admin-dashboard/dead-messages.js"></script>
  <script src="app/home/admin-dashboard/db-migrations.js"></script>
  <script src="app/home/admin-dashboard/entity-repair.js"></script>
  <script src="app/home/admin-dashboard/amqpGlobalConfigurations.js"></script>
  <script src="app/home/admin-dashboard/account-groups.js"></script>
  <script src="app/home/admin-dashboard/account-groups-details.js"></script>
  <script src="app/home/admin-dashboard/stack-cleanup/stack-cleanup.js"></script>
  <script src="app/home/admin-dashboard/stack-cleanup/entity-cleanup.js"></script>
  <script src="app/home/admin-dashboard/stack-cleanup/fetch-entities-modal.js"></script>
  <script src="app/home/admin-dashboard/stack-cleanup/delete-entities-modal.js"></script>
  <script src="app/home/admin-dashboard/admin-dashboard.js"></script>
  <script src="app/home/users/add-user.js"></script>
  <script src="app/home/users/csv-import.js"></script>
  <script src="app/home/home-app.js"></script>
  <script src="app/home/welcome/welcome.js"></script>
  <script src="app/home/error/error.js"></script>
  <script src="app/home/help/help.js"></script>
  <script src="app/home/service-accounts/service-accounts.js"></script>
  <script src="app/home/devices/devices-v2.js"></script>
  <!-- endbuild -->

</body>
</html>
