.add-item-form {
  .list-group-item[ng-click] {
    cursor: pointer;
    word-wrap: break-word;
    &.active {
      background: @gray-lighter !important;
      border-color: @list-group-border !important;
      color: @text-color !important;
    }
  }
}
