.app-container {
  ::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-thumb {
    border: solid 2px white;
    border-radius: 4px;
    background-color: @gray-light;
  }
  margin-top: 15px;
  border: solid thin @gray-lightish;
  width: 100%;
  height: 142px;
  position: relative;
  .title {
    font-size: 16px;
  }
  .description {
    font-size: 12px;
    color: @gray;
    margin: 0;
  }
  .icon-box {
    .pull-left;
    padding: 10px;
  }
  .app-info {
    overflow: hidden;
    border-left: solid thin @gray-lightish;
  }
  .content {
    padding: 8px 3px 0 8px;
    height: 100px;
    &.small {
      height: 80px;
    }
  }
  .scroll {
    padding-right: 5px;
    overflow-y: auto;
  }
  .app-button-container {
    display: table;
    width: 100%;
  }
  .app-button {
    padding: 0 8px;
    text-align: left;
    vertical-align: middle;
    height: 40px;
    display: table-cell;
    width: 100%;
    color: white;
    text-decoration: none !important;
    &.disabled {
      background-color: @gray-light;
    }
    &.large {
      height: 60px;
      line-height: 25px;
    }
  }
  .video-icon {
    margin-top: 10px;
    margin-left: 5px;
    padding: 3px;
  }
}
