.dashboard-help-text {
  margin: -10px 0 15px 0;
}

.dashboard-add-widget {
  padding-bottom: 18px;
}

.dashboard-plus {
  color: #cbcbcb;
  font-size: 15px;
}

a.dashboard-plus:hover {
  color: #585858;
  text-decoration: none;
}

.dashboard-widget {
  margin: 10px;
  width: 210px;
}

.dashboard-widget-title {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.dashboard-widget-content {
  padding: 10px;
  font-weight: normal;
  text-align: left;
}
