/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

// Core variables and mixins
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/mixins";
// Reset
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/normalize";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/print";
// Core CSS
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/scaffolding";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/type";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/code";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/grid";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/tables";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/forms";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/buttons";
// Components
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/component-animations";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/glyphicons";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/dropdowns";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/button-groups";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/input-groups";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/navs";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/navbar";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/breadcrumbs";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/pagination";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/pager";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/labels";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/badges";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/jumbotron";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/thumbnails";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/alerts";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/progress-bars";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/media";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/list-group";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/panels";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/wells";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/close";
// Components w/ JavaScript
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/modals";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/tooltip";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/popovers";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/carousel";
// Utility classes
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/utilities";
//@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/responsive-utilities";
@import "../../../bower_components/titan-web-sdk/dist/styles/bootstrap/less/variables";

/*
* External stylesheets
*/

@import (less) "../../../bower_components/angular-ui-select/dist/select.css";
@import (less) "../../../bower_components/ngToast/dist/ngToast.css";
@import (less) "../../../bower_components/ngToast/dist/ngToast-animations.css";

/**
 * Use Font Awesome instead of default Bootstrap Glyphicons
 */

@import "../../../bower_components/font-awesome/less/font-awesome";
// This allows font-awesome icons to be used in place of glyphicons in uib templates that are coded to use glyphicons.
.glyphicon {
  .fa-icon();
}

.glyphicon-chevron-left:before {
  content: @fa-var-chevron-left;
}

.glyphicon-chevron-right:before {
  content: @fa-var-chevron-right;
}

.glyphicon-chevron-up:before {
  content: @fa-var-chevron-up;
}

.glyphicon-chevron-down:before {
  content: @fa-var-chevron-down;
}


/**
 * Module and page styles
 */

@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/body";
@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/header";
@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/footer";
@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/lists";
@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/label";
@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/navigation";
@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/forms";
@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/accordion";
@import "../../../bower_components/titan-web-sdk/dist/styles/common/less/spinners";
@import "../common/tables";
@import "../common/pagination";
@import "dashboard";
@import "navigation";
@import "widgets";
@import "account-details";
@import "help";
@import "add-item-form";
@import "appWidget";
@import "appCatalog";
@import "app-management";
@import "add-account";
@import "admin-dashboard";
@import "reseller-ui";
@media screen and (min-width: 768px) {
  .content-wrap {
    padding-left: @navigation-width;
    background-color: @gray-lightish;
  }
}


/**
 * Main content div
 */

.main {
  .transition-all();
  .clearfix();
  padding: 30px;
  background-color: white;
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .main {
    min-height: 500px;
  }
}


/* Remove the spinner buttons from html5 input type="number" boxes. */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group .checkbox {
  margin-top: 7px;
  margin-bottom: 7px;
}

.page-title {
  padding-bottom: 10px;
  font-weight: bold;
  text-align: left;
  margin-top: 0;
}

.row-with-bottom-spacing {
  margin: 0 0 15px;
}

.search-input-group {
  width: 300px;
  .search-input {
    width: 75% !important;
    height: @input-height-base + 2;
    border-bottom-left-radius: @border-radius-tr-bl-base;
  }
  .search-button {
    width: 25%;
    border-bottom-left-radius: 0;
  }
}

.text-ellipsis-h {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

body.no-transition * {
  transition: none !important;
}

// FIXME: This style comes included with bootstrap v3.3.5. We should update our bootstrap version in the titan-web-sdk.
@media (min-width: @screen-md-min) {
  .modal-lg {
    width: 900px;
  }
}

a {
  cursor: pointer;
}
