.welcome-text {
  padding: 5px;
}

.welcome-title {
  color: @brand-primary;
  padding: 5px;
}

.header-bar {
  background-color: @gray-lighter;
  font-size: @font-size-base;
  padding: 10px;
  margin-top: 0;
  border-left: 5px solid @brand-primary;
  @media (min-width: 768px) {
    margin-left: (@grid-gutter-width / -2);
  }
}

.header-bar-justified {
  @media (min-width: @screen-sm-min) {
    margin-left: 0;
  }
}
