<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<form hp-disable-on="hpDisableAddResellerForm" hp-empty-inputs-as-null name="resellerAddForm" role="form">

  <h4 translate="cCompanyInformation"></h4>
  <div ng-include="'app/home/resellers/reseller-form.html'"></div>

  <h4 translate="cCompanyContact"></h4>
  <div hp-user-form is-adding="true" show-email="true" show-locales="true" show-status="true" user="user"></div>

  <div class="form-group">
    <button id="saveButton" class="btn btn-primary" type="submit" ng-click="addResellerSubmit()" translate="cSave"></button>
    <button id="saveNewButton" class="btn btn-default" type="submit" ng-click="addResellerAndNewSubmit()" translate="cSaveAndNew"></button>
    <button id="cancelButton" class="btn btn-default" type="button" ng-click="cancelAdd()" translate="cCancel"></button>
  </div>

</form>
