<div class="row">

  <div class="logo">
    <a id="brandLogo" ng-href="{{globals.serverURL}}login">
      <img class="brand-img" ng-src="{{globals.cdnURL}}assets/logo.png" alt="HP On Demand">
    </a>
  </div>

</div>
