<div class="row">

  <div class="unauth-form-container">

    <h1 translate="cSignIn"></h1>

    <form hp-disable-on="hpDisableSignInForm" id="loginForm" name="loginForm" class="clearfix" role="form">

      <div class="form-group">
        <label for="userNameValue" translate="cUserName"></label>
        <input id="userNameValue" name="userName" class="form-control" type="text" placeholder="{{ 'cSampleEmailAddress' | translate }}" ng-model="formData.j_username" required auto-fill-sync hp-focus-on-load>
      </div>

      <div class="form-group">
        <label for="passwordValue" translate="cPassword"></label>
        <input id="passwordValue" name="password" class="form-control" type="password" ng-model="formData.j_password" ng-trim="false" required auto-fill-sync>
        <p class="help-block">
          <a id="forgotLink" href="#/forgot"><span translate="cForgotYourPassword"></span></a>
          <a id="signupLink" class="pull-right" href="#/sign-up"><span translate="cSignUp"></span></a>
        </p>
      </div>

      <hr/>

      <button id="signInButton" class="btn btn-primary pull-right" type="submit" ng-click="submit()" translate="cSignIn"></button>

    </form>

  </div>

</div>
