<h3 class="page-title" translate="cDashboard"></h3>

<div class="row" ng-controller="WidgetsCtrl">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="widget in widgets">
    <div class="widget" ng-include="widget.templateUrl"></div>
  </div>
</div>
