<div ng-controller="AppsCtrl">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title" translate="cApps"></h2>
    </div>
    <div ng-repeat="app in apps.data" class="media clearfix">
      <a id="appConfigLink{{$index}}" ng-href="{{app.urls.browserLandingUrl}}" class="pull-left">
        <img class="media-object" ng-src="{{app.marketingBigIconUrl}}" />
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{app.title}}</h4> {{app.description}}
      </div>
    </div>
  </div>
</div>
