<uib-alert type="warning">This page is profiled out of production; therefore, it will not be visible to users on the procution stack.</uib-alert>

<div class="row" ng-if="entitledApps && entitledApps.length > 0">
  <div class="col-sm-12">
    <h3 class="page-title" translate="cMyApps"></h3>
  </div>
  <div class="col-sm-6" ng-repeat="app in entitledApps">
    <app-widget product="app.product" offering="app.offering" entitlements="app.entitlements"></app-widget>
  </div>
</div>

<div class="row" ng-if="unentitledApps && unentitledApps.length > 0">
  <div class="col-sm-12">
    <h3 class="page-title" style="margin-top: 30px;" translate="cAppCatalog"></h3>
  </div>
  <div class="col-sm-6" ng-repeat="unentitledApp in unentitledApps">
    <div class="product-container product">
      <div class="icon-box">
        <img class="img-responsive" ng-src="{{unentitledApp.offering.urls.iconSmallUrl}}" />
      </div>
      <div class="app-info">
        <div class="content scroll" tabindex="-1">
          <p class="title" hp-translate="unentitledApp.offering.title" source="unentitledApp.offering.fqName"></p>
          <p class="description" hp-translate="unentitledApp.offering.description" source="unentitledApp.offering.fqName"></p>
        </div>
        <div class="products content scroll">
          <table class="table">
            <tr ng-repeat="productItem in unentitledApp.products">
              <td>
                <!-- TODO: localize me!!! -->
                {{ productItem.product.name }}
              </td>
              <td>
                <a id="signUpBtn-{{::globals.linkParser.getSelfId(productItem.product)}}" class="btn btn-xs btn-primary pull-right" ng-click="signUp(unentitledApp.offering, productItem.product)" translate="cSignUp">
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="shopping-cart-add-success.html">
  <span hp-translate="offering.title" source="offering.fqName"></span>,
  <span>{{ product.name }}</span>
  <span translate="cShoppingCartCreatedSuccess"></span>
</script>
