<div id="app-container-{{offering.fqName}}" class="app-container" ng-if="!entitlementStatus.hasError">
  <div class="icon-box">
    <img class="img-responsive" ng-src="{{offering.urls.iconSmallUrl}}" />
  </div>
  <div class="app-info">
    <div class="content scroll" ng-class="{small: buttonLarge === true}" tabindex="-1">
      <p class="title" hp-translate="offering.title" source="offering.fqName"></p>
      <p class="description" hp-translate="offering.description" source="offering.fqName"></p>
    </div>
    <div class="app-button-container" ng-if="buttonDisabled">
      <span id="app-{{offering.fqName}}" class="app-button disabled" ng-class="{large: buttonLarge}" translate="{{appMessage}}" translate-values="license"></span>
    </div>
    <div class="app-button-container" ng-if="!buttonDisabled && !modalData">
      <a id="app-{{offering.fqName}}" class="app-button btn-primary" ng-href="{{href}}" target="{{launchBehavior}}" translate="{{appMessage}}" translate-values="license"></a>
    </div>
    <div class="app-button-container" ng-if="!buttonDisabled && modalData">
      <a id="app-{{offering.fqName}}" class="app-button btn-primary" ng-click="!buttonDisabled && launchModal()" translate="{{appMessage}}" translate-values="license"></a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
