<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="welcome-title" translate="cWelcomeTitle" translate-values="{{self}}"></h1>
      <div>
        <p class="welcome-text" translate="{{welcomeMessage}}"></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6" ng-repeat="product in products">
      <app-widget product="product" offering="product.offering" entitlements="product.entitlements" license="product.license"></app-widget>
    </div>
  </div>

  <hr/>
  <a id="dashboardButton" class="btn btn-primary pull-right" ng-href="{{dashboardUrl}}" translate="cGoToDashboard"></a>

</div>
