<!-- Navigation -->
<nav class="navigation" ng-class="{'navigation-active':showNavigation}">
  <div class="navigation-overlay" ng-class="{'hidden':!showNavigation}" ng-click="showNavigation = !showNavigation"></div>
  <div class="navigation-toggle" ng-class="{'navigation-toggle-active':showNavigation}">
    <a class="btn btn-default" id="navigationToggle" ng-click="showNavigation = !showNavigation">
      <span hp-icon="bars" icon-size="19"></span>
    </a>
  </div>

  <ul class="navigation-list" ng-click="showNavigation = !showNavigation">
    <li class="navigation-list_item" ng-repeat="nav in navs" ng-class="{active: navIsActive(nav), profiled: nav.profiled}" ng-show="nav.url && !nav.exclude">
      <a id="{{ nav.id }}" ng-href="{{nav.url}}">
        <span ng-if="nav.icon" hp-icon="{{nav.icon}}" icon-size="19" style="margin-top:-2px;"></span>
        <span ng-if="nav.faicon" style="margin-left:0px;"><i class="fa fa-fw fa-{{nav.faicon}}"></i></span>
        <span class="nav-text" translate="{{nav.title}}"></span>
      </a>
    </li>
    <li>
      <div feedback id="homeFeedback" class="nav-feedback" i-feedback-impl="Feedback" rows="4" title="feedbackTitle" placeholder="feedbackPlaceholder"></div>
    </li>
  </ul>

</nav>
