<form hp-disable-on="hpDisableEulaContentForm" name="eulaForm" role="form">
  <div class="row">
    <div class="col-md-12">
      <p translate="cEULADescription" translate-values="eulaDescriptionTranslateValues"></p>
    </div>

    <div ng-class="::{'col-md-6': localeStrings[offering.privacyPolicy]}" ng-if="::localeStrings[offering.termsOfUse]">
      <div class="form-group">
        <button id="printEulaButton" class="btn btn-default pull-right hidden-xs" type="button" ng-click="printTextArea('eulaTextArea')"><i class="fa fa-print"></i> Print</button>
        <label for="eulaTextArea" translate="cEULA"></label>
      </div>
      <div class="form-group">
        <textarea id="eulaTextArea" class="form-control resize-vertical-only" cols="60" rows="20" hp-translate="offering.termsOfUse" source="offering.fqName" readonly></textarea>
      </div>
      <div class="form-group checkbox">
        <label class="control-label">
          <input id="termsAcceptedCheckbox" type="checkbox" ng-model="checkboxResults.termsAccepted" required>
          <span translate="cIAcceptEULA"></span>
        </label>
      </div>
    </div>

    <div ng-class="::{'col-md-6': localeStrings[offering.termsOfUse]}" ng-if="::localeStrings[offering.privacyPolicy]">
      <div class="form-group">
        <button id="printPrivacyButton" class="btn btn-default pull-right hidden-xs" type="button" ng-click="printTextArea('privacyTextArea')"><i class="fa fa-print"></i> Print</button>
        <label for="privacyTextArea" translate="cPrivacyPolicy"></label>
      </div>
      <div class="form-group">
        <textarea id="privacyTextArea" class="form-control resize-vertical-only" cols="60" rows="20" hp-translate="offering.privacyPolicy" source="offering.fqName" readonly></textarea>
      </div>
      <div class="form-group checkbox">
        <label class="control-label">
          <input id="privacyAcceptedCheckbox" type="checkbox" ng-model="checkboxResults.privacyAccepted" required>
          <span translate="cIAcceptPrivacyPolicy"></span>
        </label>
      </div>
    </div>

    <div class="col-md-12">
      <hr/>
      <button id="submitButton" class="btn btn-primary" type="submit" translate="cSubmit" ng-click="submit()" ng-disabled="!checkboxResults.termsAccepted || !checkboxResults.privacyAccepted"></button>
      <a id="cancelButton" class="btn btn-default" ng-href="{{globals.serverURL}}" translate="cCancel"></a>
    </div>
  </div>
</form>
