<div class="row">
  <div class="col-sm-6">

    <h1 translate="cHelp"></h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h2 translate="cGettingStarted"></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <ul class="list-unstyled" ng-repeat="helpLinksItem in helpLinkList">
      <li>
        <h3 translate={{helpLinksItem.listName}}></h3></li>
      <ul class="help-list-indented">
        <li ng-repeat="helpLink in helpLinksItem.helpLinks">
          <a ng-href="{{helpLink.href}}" id="{{helpLink.id}}" target="_blank" translate="{{helpLink.linkName}}"></a>
        </li>
      </ul>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="list-unstyled">
      <li>
        <h4><a href="http://www.hpjetadvantage.com/" target="_blank" id="whatIsPullPrintLink" translate="cLearnMore"></a></h4>
        <ul class="help-list-indented">
          <li translate="cWhatIsPullPrint"></li>
          <li translate="cHowSecureAreDocs"></li>
          <li translate="cHowSecureIsHPJAOnDemand"></li>
        </ul>
      </li>
      <li>
        <h4><a href="http://h20564.www2.hp.com/portal/site/hpsc/public/psi/home/?sp4ts.oid=7416310" target="_blank" id="HPSupportMoreHelpLink" translate="cHelpHPSupportMoreHelp"></a></h4>
        <ul class="help-list-indented">
          <li translate="cHelpAdditionalSelfHelp"></li>
          <li translate="cHelpFaq"></li>
        </ul>
      </li>
      <li>
        <h4><a ng-href="{{globals.portalConfigurations['com.portal.communityUrl']}}" target="_blank" id="HPJACommunityForumLink" translate="cHelpHPJACommunityForum"></a></h4></li>
    </ul>
  </div>
</div>
