<div class="modal-header">
  <span class="modal-title" translate="cSignUp"></span>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-2">
      <img class="icon-box img-responsive" ng-src="{{ offering.urls.iconSmallUrl }}" />
    </div>
    <div class="col-sm-10">
      <h4 hp-translate="offering.title" source="offering.fqName" />
      <p hp-translate="offering.description" source="offering.fqName"></p>
      <p><b>{{ product.name }}</b></p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" translate="cCancel" ng-click="close()"></button>
  <button class="btn btn-primary" translate="cContinue" ng-click="ok()"></button>
</div>
