<div ng-if="!bindings.confirmSave">
  <div class="modal-header">
    <div class="row">
      <div class="col-sm-5">
        <h3 class="modal-title" hp-translate="product.name" source="offering.fqName"></h3>
        <div hp-translate="product.description" source="offering.fqName"></div>
      </div>
      <div class="col-sm-7" ng-if="maxEntitlementsReached()">
        <uib-alert type="info"><span translate="cMaxEntitlementsReached" translate-values="product"></span></uib-alert>
      </div>
    </div>
  </div>
  <div class="modal-body modal-body-fixed-height">
    <div class="row" ng-show="!globals.profiles.PRODUCTION.isActive">
      <div class="col-sm-8 col-md-6 col-sm-offset-4 col-md-offset-6">
        <form class="search-input-group input-group pull-right">
          <input class="form-control search-input" type="text" ng-model="searchString">
          <button id="searchButton" class="btn btn-primary search-button" type="submit" ng-click="search(searchString)" translate="cSearch"></button>
        </form>
      </div>
    </div>

    <table class="table table-striped window-limited-table-width">
      <thead class="header">
        <tr>
          <th translate="cFirstName"></th>
          <th translate="cLastName"></th>
          <th translate="cEmail"></th>
          <th class="fixed-width-sm text-center" translate="cStatus"></th>
          <th class="fixed-width-sm text-center" translate="cAllowAccess"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="user-select-row" ng-repeat="user in users.list" ng-click="toggleUser(user, $event)">
          <td id="firstNameValue{{::$index}}">{{::user.firstName}}</td>
          <td id="lastNameValue{{::$index}}">{{::user.lastName}}</td>
          <td id="emailValue{{::$index}}">{{::user.email}}</td>
          <td class="fixed-width-sm text-center" id="statusValue{{::$index}}" translate="c{{::user.status}}"></td>
          <td class="fixed-width-sm text-center">
            <input id="userAccessCheckbox_{{::$index}}" name="userAccessCheckbox_{{::$index}}" type="checkbox" checklist-model="entitledUsers" checklist-value="user" checklist-comparator=".email" checklist-change="entitledUsersUpdated()" ng-hide="maxEntitlementsReached() && !isEntitled[user.email]">
          </td>
        </tr>
      </tbody>
    </table>

    <div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="users.isLoading()"></div>
  </div>

  <div class="modal-footer">
    <div class="pull-left">
      <uib-pagination ng-show="users.numPages > 1" ng-model="users.currentPage" ng-change="users.loadPage(users.currentPage)" boundary-links="true" total-items="users.getTotal()" items-per-page="users.getItemsPerPage()" num-pages="users.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
      </uib-pagination>
    </div>
    <button class="btn btn-primary" type="button" ng-click="save()" translate="cSave"></button>
    <button class="btn btn-default" type="button" ng-click="cancel()" translate="cCancel"></button>
  </div>
</div>


<confirm-entitlement-changes ng-if="bindings.confirmSave" added-users="addedUsers" removed-users="removedUsers" on-cancel="bindings.confirmSave = false" on-confirm="confirm()"></confirm-entitlement-changes>
