<div class="modal-header">
  <h3 class="modal-title" translate="cConfirmModifications"></h3>
</div>
<div class="modal-body modal-body-fixed-height">

  <div hp-users-table="removedUsersMap" heading="cUsersAccessRemoved"></div>
  <div hp-users-table="addedUsers" heading="cUsersGrantedAccess"></div>

</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="onCancel()" translate="cCancel"></button>
  <button class="btn btn-danger" type="button" ng-click="onConfirm()" translate="cConfirm"></button>
</div>
