<div class="modal-header">
  <h3 class="modal-title" translate="cUpdatingAccess"></h3>
</div>
<div class="modal-body modal-body-fixed-height">

  <uib-progressbar class="progress-striped" value="percentComplete" ng-class="{active: percentComplete < 100}">
    <span style="color:white; white-space:nowrap;">{{percentComplete | number:0}}%</span>
  </uib-progressbar>

  <h4 class="text-center" ng-if="percentComplete === 100 && !completedOperations.addedUsers.failed.length" translate="cOperationsCompleted"></h4>

  <uib-alert type="danger" ng-if="completedOperations.addedUsers.failed.length">
    <div><span translate="cUsersGrantedAccessFailure"></span>:</div>
    <ul>
      <li ng-repeat="(key, value) in addUserErrors" translate="{{key}}" translate-values="productItem.product"></li>
    </ul>
  </uib-alert>

  <hr>

  <div hp-users-table="completedOperations.removedUsers" heading="cUsersRemovedSuccessfully"></div>
  <div hp-users-table="completedOperations.addedUsers.success" heading="cUsersGrantedAccessSuccessfully"></div>
  <div hp-users-table="completedOperations.addedUsers.failed" heading="cUsersGrantedAccessFailed"></div>

</div>

<div class="modal-footer" ng-if="percentComplete === 100">
  <button class="btn btn-primary" type="button" ng-click="close()" translate="cClose"></button>
</div>
