<div ng-if="users.length">
  <h4 translate="{{::heading}}"></h4>

  <div class="well well-sm product-users-well">
    <table class="table table-striped window-limited-table-width">
      <thead class="header">
        <tr>
          <th translate="cFirstName"></th>
          <th translate="cLastName"></th>
          <th translate="cEmail"></th>
          <th class="fixed-width-sm" translate="cStatus"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td id="firstNameValue{{::$index}}">{{user.firstName}}</td>
          <td id="lastNameValue{{::$index}}">{{user.lastName}}</td>
          <td id="emailValue{{::$index}}">{{user.email}}</td>
          <td id="statusValue{{::$index}}" class="fixed-width-sm" translate="c{{user.status}}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
