<h3 class="page-title" translate="cManageResellers"></h3>

<div class="clearfix row-with-bottom-spacing">
  <a id="addResellerLink" hp-if-permission="HP_ADMIN" class="btn btn-primary" ng-href="#/resellers/add-reseller" translate="cAddReseller"></a>
</div>

<div class="pull-left">
  <uib-pagination ng-show="resellers.numPages > 1" ng-model="resellers.currentPage" ng-change="resellers.loadPage(resellers.currentPage)" boundary-links="true" total-items="resellers.getTotal()" items-per-page="resellers.getItemsPerPage()" num-pages="resellers.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
  </uib-pagination>
</div>
<hp-items-per-page pageable-resource="resellers"></hp-items-per-page>

<table class="table table-striped" ng-class="{'opaque-table': resellers.isLoading()}">
  <thead class="header">
    <tr>
      <th translate="cName"></th>
      <th translate="cStatus"></th>
      <th translate="cAdminContact"></th>
      <th translate="cAction"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="reseller in resellers.list">
      <td id="nameValue{{$index}}">{{reseller.name}}</td>
      <td id="statusValue{{$index}}" translate="c{{reseller.status}}"></td>
      <td>{{reseller.adminContact.email}}</td>
      <td>
        <a id="viewDetails{{$index}}" class="btn btn-sm btn-primary" ng-href="#resellers/{{globals.linkParser.getSelfId(reseller)}}" translate="cViewDetails"></a>
      </td>
    </tr>
  </tbody>
</table>

<div hp-spinner-lg resource-url="{{globals.cdnURL}}" show-spinner="resellers.isLoading()"></div>

<div class="pull-left">
  <uib-pagination ng-show="resellers.numPages > 1" ng-model="resellers.currentPage" ng-change="resellers.loadPage(resellers.currentPage)" boundary-links="true" total-items="resellers.getTotal()" items-per-page="resellers.getItemsPerPage()" num-pages="resellers.numPages" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
  </uib-pagination>
</div>
