<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<form hp-disable-on="hpDisableResellerDetailsForm" hp-empty-inputs-as-null name="resellerProfileForm" role="form">
  <h4 translate="cCompanyInformation"></h4>
  <div ng-include="'app/home/resellers/reseller-form.html'"></div>


  <h4 translate="cCompanyContact"></h4>
  <div class="row form-group">
    <div class="col-md-6">
      <div hp-company-contact-field id="companyContactValue" on-change="companyContactChange" ng-model="user" company="reseller"></div>
    </div>
  </div>
  <fieldset disabled="disabled" role="form">
    <div hp-user-form user="user"></div>
  </fieldset>

  <div class="form-group">
    <button id="saveButton" class="btn btn-primary" type="submit" translate="cSave" ng-click="updateResellerSubmit()"></button>
    <div hp-if-permission="HP_ADMIN" confirm-delete-btn unique-id="deleteResellerButton" on-confirm="deleteResellerSubmit()" delete-button-class="btn btn-danger"><span translate="cDelete"></span></div>
    <button id="resendButton" class="btn btn-default" type="button" ng-if="hasStatusCreated" ng-click="resendActivationEmail()" translate="cResendActivationEmail"></button>
  </div>
</form>
