<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ entityName }}</h3>
  </div>
  <div class="panel-body">
    <button class="btn btn-default" ng-click="findTestEntities()">Find</button>
    <button class="btn btn-default" ng-click="deleteTestEntities()" ng-show="entities.length">Delete</button>
    <button class="btn btn-default" ng-click="findAndDeleteEntities()">Find and Delete</button>

    <uib-tabset active="active" class="entity-cleanup-tabs" ng-if="logs.length">

      <uib-tab>
        <uib-tab-heading>
          Remaining <span class="badge" ng-if="entities">{{ entities.length }}</span>
          <i class="fa" ng-class="{'fa-eye': showLogs, 'fa-eye-slash': !showLogs}" ng-show="active === 0" ng-click="showLogs = !showLogs"></i>
          <i class="fa fa-copy" ng-show="active === 0" ng-click="copyLogs($event, 'tab-entities-' + trimmedEntityName)"></i>
        </uib-tab-heading>
        <div id="tab-entities-{{ ::trimmedEntityName }}" class="tab-body">
          <entity-logs log-entries="entities" show="showLogs"></entity-logs>
        </div>
      </uib-tab>

      <uib-tab>
        <uib-tab-heading>
          Deleted <span class="badge" ng-if="deleted">{{ deleted.length }}</span>
          <i class="fa" ng-class="{'fa-eye': showLogs, 'fa-eye-slash': !showLogs}" ng-show="active === 1" ng-click="showLogs = !showLogs"></i>
          <i class="fa fa-copy" ng-show="active === 1" ng-click="copyLogs($event, 'tab-deleted-' + trimmedEntityName)"></i>
        </uib-tab-heading>
        <div id="tab-deleted-{{ ::trimmedEntityName }}" class="tab-body">
          <entity-logs log-entries="deleted" show="showLogs"></entity-logs>
        </div>
      </uib-tab>

      <uib-tab>
        <uib-tab-heading>
          Errors <span class="badge" ng-if="errors">{{ errors.length }}</span>
          <i class="fa" ng-class="{'fa-eye': showLogs, 'fa-eye-slash': !showLogs}" ng-show="active === 2" ng-click="showLogs = !showLogs"></i>
          <i class="fa fa-copy" ng-show="active === 2" ng-click="copyLogs($event, 'tab-errors-' + trimmedEntityName)"></i>
        </uib-tab-heading>
        <div id="tab-errors-{{ ::trimmedEntityName }}" class="tab-body">
          <entity-logs log-entries="errors" show="showLogs"></entity-logs>
        </div>
      </uib-tab>

      <uib-tab>
        <uib-tab-heading>
          Log <span class="badge" ng-if="logs.length">{{ logs.length }}</span>
          <i class="fa" ng-class="{'fa-eye': showLogs, 'fa-eye-slash': !showLogs}" ng-show="active === 3" ng-click="showLogs = !showLogs"></i>
          <i class="fa fa-copy" ng-show="active === 3" ng-click="copyLogs($event, 'tab-logs-' + trimmedEntityName)"></i>
        </uib-tab-heading>
        <div id="tab-logs-{{ ::trimmedEntityName }}" class="tab-body">
          <entity-logs log-entries="logs" show="showLogs"></entity-logs>
        </div>
      </uib-tab>

    </uib-tabset>
  </div>
</div>
