<div class="main">
  <div class="alert alert-danger">
    <p>
      <strong id="errorTitle" translate="{{pageError.title}}"></strong>
      <br />
      <span id="errorMessage" translate="{{pageError.msg}}"></span>
    </p>
  </div>
</div>
