<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HP JetAdvantage On Demand</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="assets/favicon.ico">

  <!-- build:css(.tmp) styles/login.css -->
  <link rel="stylesheet" href="styles/login.css">
  <!-- endbuild -->
</head>
<body id="ng-app" ng-app="hp.common.login.loginApp" ng-controller="LoginCtrl">

  <!-- build:js scripts/common.global.js -->
  <!-- This javascript needs to be loaded first to handle any errors that may happen during page load. -->
  <script src="bower_components/titan-web-sdk/dist/scripts/titan-testhooks-globals.js"></script>
  <!-- endbuild -->

  <toast></toast>

  <div hp-load-analytics ga-tracking-id="${gaTrackingId}" load="loadAnalytics"></div>

  <!-- Header -->
  <div class="header" hp-oxpw-header logo-url="{{globals.cdnURL}}assets/logo.png" self="{}" portal-configurations="globals.portalConfigurations"></div>

  <!-- Privacy policy -->
  <div class="container">
    <div class="row">
      <div id="cookie_privacy_holder"></div>
    </div>
  </div>

  <!-- Contains modules -->
  <div class="main" ng-view="" role="main"></div>

  <!-- Privacy policy -->
  <div class="panel-group" id="privacy-accordion" ng-show="isEUCK">
    <div class="container">
      <div class="row">
        <div  class="text-align-center col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
          <uib-accordion>
            <uib-accordion-group is-open="status.open">
              <uib-accordion-heading>
                <p class="text-center">
                  <small translate="cPrivacyPreferences"></small>
                </p>
              </uib-accordion-heading>
              <div id="privacyPageForm"></div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer" ng-include="'app/common/footer/footer.html'" ng-controller="FooterCtrl"></div>

  <script src="//www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit&hl=en" async defer></script>


  <!-- IMPORTANT: These "common" sections of scripts MUST match exactly the common scripts in index/eula/login html pages. -->
  <!-- build:js scripts/common.modules.js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <script src="bower_components/angulartics/src/angulartics.js"></script>
  <script src="bower_components/angulartics/src/angulartics-ga.js"></script>
  <script src="bower_components/ngToast/dist/ngToast.js"></script>
  <script src="lib/angular-locker.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/common.sdk.js -->
  <script src="bower_components/titan-web-sdk/dist/scripts/titan-sdk.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/login.modules.js -->
  <script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
  <script src="bower_components/moment/min/moment-with-locales.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <!-- endbuild -->

  <script>
    (function () {
      'use strict';

      var _cdnURL = '${cdnURL}';
      var _serverURL = '${serverURL}';
      var _profile = '${profile}';
      var _allowedLocales = '${allowedLocales}';
      var _redirectUrl = '${redirectUrl}' || undefined;
      var _licenseExpiresIn = '${licenseExpiresIn}' || undefined;

      /*test-code*/
      _cdnURL = '';
      _serverURL = '';
      _profile = 'local_test';
      _allowedLocales = '["en-US", "fr-CA", "it-IT", "de-DE", "es-ES", "nl-NL", "pt-BR", "pt-PT", "zh-CN", "zh-TW"]';
      _redirectUrl = undefined;
      _licenseExpiresIn = undefined;
      /*end-test-code*/

      angular.module('init', [])
      .constant('cdnURL', _cdnURL)
      .constant('serverURL', _serverURL)
      .constant('profile', _profile)
      .constant('allowedLocales', _allowedLocales)
      .constant('localeMap', {
        'en-US': 'app/common/i18n/locale-en-US.json',
        'fr-CA': 'app/common/i18n/locale-fr-CA.json',
        'de-DE': 'app/common/i18n/locale-de-DE.json',
        'es-ES': 'app/common/i18n/locale-es-ES.json',
        'it-IT': 'app/common/i18n/locale-it-IT.json',
        'nl-NL': 'app/common/i18n/locale-nl-NL.json',
        'pt-BR': 'app/common/i18n/locale-pt-BR.json',
        'pt-PT': 'app/common/i18n/locale-pt-PT.json',
        'zh-CN': 'app/common/i18n/locale-zh-CN.json',
        'zh-TW': 'app/common/i18n/locale-zh-TW.json'
      })
      .constant('redirectUrl', _redirectUrl)
      .constant('licenseExpiresIn', _licenseExpiresIn);
    })();
  </script>


  <!-- build:js scripts/login.js -->
  <script src="app/common/webservices/task-service.js"></script>
  <script src="app/common/webservices/endpoints.js"></script>
  <script src="app/common/webservices/resource-service.js"></script>
  <script src="app/common/webservices/pageable-resource.js"></script>
  <script src="app/common/webservices/webservices.js"></script>
  <script src="app/common/webservices/entitlements-services.js"></script>
  <script src="app/common/webservices/tasks.js"></script>
  <script src="app/common/modals/license-countdown-modal.js"></script>
  <script src="app/common/init/cdn.js"></script>
  <script src="app/common/init/utils.js"></script>
  <script src="app/common/i-oxpw-sdk-app/i-oxpw-sdk-app.js"></script>
  <script src="app/common/forms/country.js"></script>
  <script src="app/common/forms/message-form.js"></script>
  <script src="app/common/constants/commerceProviders.js"></script>
  <script src="app/common/helpers/error-code-mapper.js"></script>
  <script src="app/common/helpers/password-policy.js"></script>
  <script src="app/login/activate/activate.js"></script>
  <script src="app/login/forgot/forgot.js"></script>
  <script src="app/login/login-app.js"></script>
  <script src="app/login/reset/reset.js"></script>
  <script src="app/login/sign-in/sign-in.js"></script>
  <script src="app/login/sign-up/sign-up.js"></script>
  <script src="app/login/sign-up/sign-up-with-product.js"></script>
  <script src="app/login/sign-up/sign-up-form.js"></script>
  <script src="app/login/unsubscribe/unsubscribe.js"></script>
  <script src="app/login/terms-of-use/terms-of-use.js"></script>
  <script src="app/login/webservices/tasks.js"></script>
  <!-- endbuild -->

</body>
</html>
