<div class="clearfix">
  <button id="printButton" class="btn btn-default pull-right hidden-xs" type="button" ng-click="print()">
    <i class="fa fa-print"></i> <span translate="cPrint"></span>
  </button>
</div>
<hr/>
<div hp-translate="'cTermsOfService'" source="'hp-platform'"></div>
