<div ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>

<form hp-disable-on="hpDisableAddUserForm" hp-empty-inputs-as-null name="userAddForm" role="form">

  <div hp-user-form is-adding="true" show-email="true" show-locales="true" show-status="true" show-roles="true" user="user"></div>
  <div>
    <button id="saveButton" class="btn btn-primary" type="submit" ng-click="addUserSubmit()" translate="cSave"></button>
    <button id="saveNewButton" class="btn btn-default" type="submit" ng-click="addUserAndNewSubmit()" translate="cSaveAndNew"></button>
    <button id="cancelButton" class="btn btn-default" type="button" ng-click="cancelAddUser()" translate="cCancel"></button>
  </div>

</form>
