<div ng-if="!isSelf" ng-include="'app/home/breadcrumb/breadcrumb.html'"></div>
<h3 class="page-title" ng-if="isSelf" translate="cMyProfile"></h3>

<form hp-disable-on="hpDisableUserDetailsForm" hp-empty-inputs-as-null role="form">
  <div hp-user-form show-email="true" show-locales="true" show-status="true" show-roles="true" user="user" is-email-opt-in-displayed="isEmailOptInDisplayed"></div>

  <div class="form-group">
    <button id="saveButton" class="btn btn-primary" type="submit" translate="cSave" ng-click="updateUserSubmit()"></button>
    <button id="resetButton" class="btn btn-default" type="button" ng-click="resetForm()" translate="cReset"></button>
    <div ng-if="showDeleteButton" hp-if-permission="COMPANY_ADMIN | HP_ADMIN" confirm-delete-btn unique-id="deleteUser" on-confirm="deleteUserSubmit()" delete-button-class="btn btn-danger"><span translate="cDelete"></span></div>
    <button id="resendButton" class="btn btn-default" type="button" ng-if="hasStatusCreated" ng-click="resendActivationEmail()" translate="cResendActivationEmail"></button>
    <a id="gotoAccountButton" class="btn btn-default" ng-href="#/{{ ::user.account.isResellerAccount ? 'resellers' : 'accounts' }}/{{ ::globals.linkParser.getSelfId(user.account) }}" ng-if="::(globals.permissions.isHPAdmin || globals.permissions.isReseller)" translate="cGoToUsersAccount"></a>
  </div>
</form>

<div ng-if="isSelf">
  <hr/>

  <uib-accordion class="accordion">
    <uib-accordion-group id="change-password-accordion" is-open="accordionStatus.showPasswordForm">
      <uib-accordion-heading>
        <span id="changePasswordLink" translate="cChangeYourPassword"></span>
      </uib-accordion-heading>

      <form hp-disable-on="hpDisablePasswordForm" hp-empty-inputs-as-null name="userPasswordForm" role="form">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="currentPasswordValue" class="control-label" translate="cPasswordCurrent"></label>
              <input id="currentPasswordValue" name="oldPassword" class="form-control" type="password" autocomplete="off" ng-model="changePasswordFormData.oldPassword" ng-trim="false" required>
            </div>
          </div>
          <div class="col-md-8">
            <div hp-password-validation form-data="changePasswordFormData" horizontal-layout="true" password-policy="passwordPolicy"></div>
          </div>
        </div>
        <button id="changePasswordButton" class="btn btn-primary" type="submit" translate="cChangePassword" ng-click="changePasswordSubmit()"></button>
      </form>
    </uib-accordion-group>

    <uib-accordion-group id="delete-pins-accordion" is-open="accordionStatus.deletePinSessions">
      <uib-accordion-heading>
        <span id="deletePinsLink" translate="cDeleteAllPins"></span>
      </uib-accordion-heading>

      <p translate="cDeletePinsInfo"></p>
      <div confirm-delete-btn unique-id="deletePinsButton" on-confirm="deletePins()" delete-button-class="btn btn-primary" cancel-button-class="btn btn-default" confirm-button-class="btn btn-danger" fa-icon-class="none"><span translate="cDeleteAllPins"></span></div>
    </uib-accordion-group>
  </uib-accordion>
</div>
