<div>
  <div class="row">
    <div class="form-group col-sm-6">
      <label for="firstNameValue" class="control-label" translate="cFirstName"></label>
      <input id="firstNameValue" class="form-control" type="text" ng-model="adminContact.firstName" maxlength="40" required>
    </div>
    <div class="form-group col-sm-6">
      <label for="lastNameValue" class="control-label" translate="cLastName"></label>
      <input id="lastNameValue" class="form-control" type="text" ng-model="adminContact.lastName" maxlength="80" required>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label for="emailValue" class="control-label" translate="cEmailAddress"></label>
      <input id="emailValue" class="form-control" type="email" placeholder="{{ 'cSampleEmailAddress' | translate }}" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+){1,}" ng-model="adminContact.email" maxlength="80" required>
    </div>
    <div class="form-group col-sm-6">
      <label for="accountNameValue" class="control-label" translate="cCompanyName"></label>
      <input id="accountNameValue" class="form-control" type="text" ng-model="account.name" maxlength="50" required>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label for="userPhoneNumberValue" class="control-label" translate="cAccountPhoneNumber"></label>
      <input id="userPhoneNumberValue" class="form-control" type="tel" ng-model="account.phoneNumber" maxlength="25" required>
      <span class="help-block" translate="cPhoneNumberDisclaimer"></span>
    </div>
    <div class=" form-group col-sm-6" hp-country-field="account.country" required></div>
  </div>

  <div class="row" ng-cloak ng-if="countrySettings.isSupported === false">
    <div class="form-group col-sm-12">
      <div class="checkbox">
        <input id="unsupportedAcceptance" type="checkbox" ng-model="unsupportedAcceptance" required>
        <label for="unsupportedAcceptance" class="control-label" translate="cUnsupportedCountry"></label>
      </div>
    </div>
  </div>

  <div id="recaptcha-container" class="row" ng-if="captchaPublicKey">
    <div class="col-sm-12 form-group">
      <label class="control-label" translate="cRecaptcha"></label>
      <div vc-recaptcha theme="white" key="captchaPublicKey" on-create="initRecaptcha(widgetId)" on-success="setRecaptchaResponse(response)" on-expire="recaptchaExpired()" data-required="false" ng-required="false"></div>
      <span class="help-block" translate="cEnterRecaptcha"></span>
    </div>
  </div>
</div>
